// Just to make it clear, I'm against brainrot
#rizz-dialog {
	position: relative;

	@media only screen and (max-width: 960px) {
		display: none;
	}

	#rizz:hover + #dont,
	#rizz:focus-visible + #dont {
		transform: none;
		opacity: 1;
	}

	@supports not selector(:focus-visible) {
		#rizz:focus + #dont {
			transform: none;
			opacity: 1;
		}
	}

	#dont {
		--mask: url("assets/dont.gif");
		-webkit-mask-image: var(--mask);
		position: absolute;
		transform: scale(0.5);
		transform-origin: left;
		opacity: 0;
		mask-image: var(--mask);
		mask-size: cover;
		transition: var(--transition);
		inset-block-start: calc(-50% + -1.1875rem);
		inset-inline-start: 6.5rem;
		background-color: var(--accent-color);
		width: 22.25rem;
		height: 7.0625rem;
		pointer-events: none;

		@media (prefers-reduced-motion) {
			--mask: url("assets/dont-static.gif");
		}
	}
}

#subway-surfers,
#oddly-satisfying {
	position: fixed;
	z-index: 1;
	margin: 0;
	width: calc(((100vw - var(--container-width)) / 2) - 2rem);
	max-height: calc(100vh - 2rem);
}

#subway-surfers {
	inset-block-start: 1rem;
	inset-inline-end: 1rem;
	aspect-ratio: 0.45 / 1;
}

#oddly-satisfying {
	inset-block-end: 1rem;
	inset-inline-start: 1rem;
	aspect-ratio: 16 / 9;
}
