body {

	&::before,
	&::after {
		display: block;
		position: fixed;
		bottom: 0;
		left: -50vw;
		transform: perspective(8rem) rotateX(60deg);
		z-index: -1;
		width: 200vw;
		height: 16rem;
		content: "";
	}

	&::before {
		background-image: linear-gradient(var(--primary-color-alpha) 25%, transparent 75%);
	}

	&::after {
		filter: drop-shadow(0 0.125rem 0.125rem #dc8add);
		animation: plane infinite linear 1s;
		background-image: linear-gradient(to right, rgba(220, 138, 221, 0.2) 0.0625rem, transparent 0.0625rem), linear-gradient(var(--primary-color-alpha) 0.0625rem, transparent 0.0625rem);
		background-size: 2rem 2rem;
		background-repeat: repeat;

		@keyframes plane {
			to {
				background-position-y: 2rem;
			}
		}
	}
}

#about-splash {
	text-align: center;

	#avatar-container {
		display: inline-block;
		position: relative;

		#avatar {
			display: inline-block;
			transition: var(--transition-longer);
			margin-top: 2rem;
			margin-bottom: 0;
			border-width: 1rem;
			border-style: solid;
			border-color: white;
			border-radius: 50%;
			background-color: white;
			width: 8rem;
			height: 8rem;

			&:hover {
				transform: scale(1.25) rotate(20deg);
				filter: hue-rotate(45deg);
				border-width: 0.25rem;
				border-radius: 50%;
			}
		}

		#it-sucks {
			$url: url("about/this-logo-sucks-anim.png");
			-webkit-mask-image: $url;
			position: absolute;
			top: 4.5rem;
			left: 9rem;
			mask-image: $url;
			background-color: var(--primary-color);
			width: 10.9375rem;
			height: 7.0625rem;

			@media only screen and (max-width: 509px) {
				display: none;
			}

			@media (prefers-reduced-motion) {
				$url: url("about/this-logo-sucks.png");
				-webkit-mask-image: $url;
				mask-image: $url;
			}
		}
	}

	#header {
		transition: var(--transition-longer);
		color: var(--primary-color);
		font-style: italic;
		font-weight: bold;
		font-size: 4rem;

		&:hover {
			transform: translate(0.5625rem, -0.5625rem);
			color: #9bdbf5;
			text-shadow:
				-0.1875rem 0.1875rem 0 #1b98d1,
				-0.375rem 0.375rem 0 #fde85f,
				-0.5625rem 0.5625rem 0 #ec4141;
		}
	}
}

#abyss {
	filter: blur(0.25rem);
}

#shy {
	-webkit-appearance: none;
	appearance: none;
	cursor: pointer;
	border: none;
	background-color: transparent;
	padding: 0;
	color: var(--fg-color);
	font-size: 1em;
	text-decoration: underline;
	text-decoration-style: dotted;
	text-decoration-thickness: max(1px, 0.0625em);

	&:hover {
		text-decoration-style: solid;
	}
}

#fluttershy {
	position: fixed;
	top: 20vh;
	right: 0;
	transform: translateX(18.5625rem);
	transform-origin: bottom left;
	margin: 0;
	width: 12.375rem;
	height: 11.0625rem;

	&.flying {
		animation: flight 2s linear;

		@keyframes flight {
			to {
				transform: translateX(calc(-100vw + -18.5625rem));
			}
		}
	}
}

#purple {
	transition: var(--transition);

	&:hover {
		color: var(--primary-color);
		font-style: italic;
		letter-spacing: 0.25em;
	}
}

#portal,
#teardown,
#teardown-text,
#stardew {
	display: inline-block;
}

#portal,
#celeste,
#stardew,
#untitled {
	position: relative;
}

#portal {
	transition: var(--transition);

	#portal-text {
		display: inline-block;
		position: relative;
		vertical-align: -0.425em;
		transition: var(--transition);
		width: 2.6875rem;
		height: 1.6rem;
		overflow: hidden;

		div {
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			width: 100%;
			height: 1.6rem;
			overflow: hidden;
		}

		span {
			float: left;
			width: 100%;

			&+span {
				display: none;
			}
		}
	}

	#portal-blue,
	#portal-orange {

		&::before,
		&::after {
			display: block;
			position: absolute;
			top: -0.1875rem;
			transform: scale(0);
			opacity: 0;
			transition: var(--transition);
			background-size: cover;
			image-rendering: pixelated;
			width: 1rem;
			height: 2rem;
			content: "";
		}
	}

	#portal-blue {

		&::before,
		&::after {
			left: -0.25rem;
		}

		&::before {
			$drop-shadow: drop-shadow(0 0.0625rem 0.1875rem #008eda);
			-webkit-filter: $drop-shadow;
			z-index: -1;
			filter: $drop-shadow;
			background-image: url("about/portal-blue-bottom.png");
		}

		&::after {
			z-index: 1;
			background-image: url("about/portal-blue-top.png");
		}
	}

	#portal-orange {

		&::before,
		&::after {
			right: -0.25rem;
		}

		&::before {
			$drop-shadow: drop-shadow(0 0.0625rem 0.1875rem #e09e36);
			-webkit-filter: $drop-shadow;
			z-index: -1;
			filter: $drop-shadow;
			background-image: url("about/portal-orange-bottom.png");
		}

		&::after {
			z-index: 1;
			background-image: url("about/portal-orange-top.png");
		}
	}

	&:hover {
		margin: 0 0.25rem;

		#portal-text {
			$mask: linear-gradient(to right, transparent, black 0.5rem, black calc(100% - 0.5rem), transparent);
			-webkit-mask-image: $mask;
			mask-image: $mask;
			width: 4rem;

			div {
				animation: slide 2s linear infinite;
				width: 200%;

				@keyframes slide {
					to {
						transform: translateX(50%);
					}
				}
			}

			span {
				width: 50%;

				&+span {
					display: inline;
				}
			}
		}

		#portal-blue,
		#portal-orange {

			&::before,
			&::after {
				transform: scale(1);
				opacity: 1;
			}
		}
	}
}

#celeste {
	#strawberry {
		display: inline-block;
		position: absolute;
		top: 0.4rem;
		left: -1rem;
		transform: scale(0);
		opacity: 0;
		transition: var(--transition);
		background-image: url("about/strawberry.png");
		image-rendering: pixelated;
		width: 0.625rem;
		height: 0.8125rem;
	}

	#celeste-text {
		display: inline-block;
		position: relative;
		transition: var(--transition-longer);
	}

	&:hover {
		#strawberry {
			transform: scale(1);
			opacity: 1;
		}

		#celeste-text {
			transform: perspective(1rem) rotateX(10deg);
			color: #62c2e0;
			font-weight: 900;
			text-shadow: 0 -0.125rem white, 0 0.125rem #675c83;
		}
	}
}

#teardown:hover #teardown-text {
	transform-origin: top left;
	animation: hinge 2s forwards;

	@keyframes hinge {
		from {
			animation-timing-function: ease-in-out;
		}

		20%,
		60% {
			transform: rotate3d(0, 0, 1, 80deg);
			animation-timing-function: ease-in-out;
		}

		40%,
		80% {
			transform: rotate3d(0, 0, 1, 60deg);
			opacity: 1;
			animation-timing-function: ease-in-out;
		}

		to {
			transform: translate3d(0, 700px, 0);
			opacity: 0;
		}
	}
}

#superliminal {

	#super,
	#liminal {
		display: inline-block;
		transition: var(--transition-longer);
	}

	&:hover {
		#super {
			transform: perspective(4rem) rotateY(-45deg);
		}

		#liminal {
			transform: perspective(4rem) rotateY(35deg);
		}
	}
}

#stardew {
	#chicken {
		display: inline-block;
		position: absolute;
		top: 0.25rem;
		left: -1.1875rem;
		transform: scale(0);
		opacity: 0;
		transition: var(--transition);
		background-image: url("about/chicken.png");
		image-rendering: pixelated;
		width: 1rem;
		height: 1rem;
	}

	#stardew-text {
		transition: var(--transition);
	}

	&:hover {
		#chicken {
			transform: scale(1);
			opacity: 1;
		}

		#stardew-text {
			color: #e0a100;
			font-weight: bold;
			text-shadow: 0 0.0625rem 0 #413014;
		}
	}
}

#untitled {
	#untitled-text {
		display: inline-block;
	}

	#goose {
		display: inline-block;
		position: absolute;
		top: 0.25rem;
		left: -1.1875rem;
		transform: scale(0);
		opacity: 0;
		transition: var(--transition);
		background-image: url("about/untitled.png");
		image-rendering: pixelated;
		width: 1rem;
		height: 1rem;
	}

	#untitled-text {
		transition: var(--transition);
	}

	&:hover {
		#goose {
			transform: scale(1);
			opacity: 1;
		}

		#untitled-text {
			font-weight: bold;
		}
	}
}

#stanley:hover {
	text-decoration: underline 0.25rem #e4d21d;
	text-transform: uppercase;
}

.buttons-container {
	text-align: center;

	img {
		all: unset;
		display: inline-block;
		position: relative;
		transition: var(--transition-bezier);
		cursor: zoom-in;
		image-rendering: pixelated;

		&:hover {
			transform: scale(2) !important;
			box-shadow:
				0 0 0 0.0625rem var(--primary-color-alpha),
				0 0.125rem 0.375rem 0.125rem var(--primary-color-alpha),
				0 0.25rem 1.5rem 0.25rem var(--primary-color-alpha) !important;
		}
	}
}
