#coffee-container {
	margin: 5rem auto auto;
	box-shadow: var(--edge-highlight);
	border-radius: 2.25rem;
	background-color: var(--fg-muted-1);
	padding: 1rem;
	width: min(calc(var(--container-width) / 2), 100%);
	text-align: center;

	#blobfox {
		position: absolute;
		transform: translateY(-100%) scaleY(-1);
		opacity: 0;
		margin: 0;
		inset-block-start: 0;
		inset-inline-end: 0;
		width: 6rem;
		height: 6rem;
	}

	#blobfox-message {
		position: absolute;
		transform: scale(0.5) rotate(90deg) translateY(-100%);
		transform-origin: top right;
		opacity: 0;
		transition: var(--transition-longer);
		inset-block-start: 3.5rem;
		inset-inline-end: 6rem;
		border: 0.375rem solid black;
		border-radius: 999px 0 999px 999px;
		background-color: #fafafa;
		padding: 0 0.5rem;
		color: black;
		font-weight: bold;
		text-shadow: none;
	}

	#coffee-banner-container {
		position: relative;
		margin: -1rem -1rem 0 -1rem;
		border-radius: 2.25rem 2.25rem 0 0;
		padding-block-end: 1rem;
		overflow: hidden;

		&:active {
			#blobfox {
				transform: translateY(0) scaleY(-1);
				opacity: 1;
			}

			#blobfox-message {
				transform: none;
				opacity: 1;
			}
		}

		#coffee-banner {
			margin: 0;
			box-shadow: none;
			border-radius: 0;

			&:active {
				transform: translateY(-100%);
			}
		}
	}

	#title {
		display: inline-block;
		margin-block-start: 0.75rem;
		font-size: var(--font-size-x-large);
		line-height: 1;
	}

	#avatar-container {
		position: relative;
		margin-block-start: -1rem;

		&::after {
			position: absolute;
			transform: translateY(-50%);
			opacity: 0;
			z-index: 2;
			transition: var(--transition-longer);
			margin: 0 auto;
			inset-inline-end: 0;
			inset-inline-start: 0;
			background-image: url("coffee/blush.svg");
			background-size: cover;
			width: 6rem;
			height: 6rem;
			pointer-events: none;
			content: "";
		}

		&:has(#avatar:active)::after {
			transform: translateY(-50%) scale(0.75);
			opacity: 1;
		}

		#avatar {
			position: absolute;
			transform: translateY(-50%);
			z-index: 1;
			transition: var(--transition-longer);
			margin: 0 auto;
			inset-inline-end: 0;
			inset-inline-start: 0;
			border-radius: 50%;
			width: 6rem;
			height: 6rem;

			&:active {
				transform: translateY(-50%) scale(0.75);
			}
		}
	}

	#buttons {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 0.5rem;
		margin-block-start: 1rem;

		.inline-button {
			border-radius: 999px;

			&:hover {
				transform: var(--hover);
			}

			&:active {
				transform: var(--active);
			}

			&#ko-fi {
				background-color: #ff5e5b;
				color: white;
			}

			&#liberapay {
				background-color: #f6c915;
				color: black;
			}

			&#monero {
				background-color: #ff6600;
				color: white;
			}

			&#paypal {
				background-color: #003087;
				color: white;
			}
		}
	}

	#skeuo-switch {
		display: block;
		margin: 0 auto;

		&+label {
			transition: var(--transition);
			color: var(--fg-muted-5);
			font-size: var(--font-size-small);

			.icon {
				--icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpath d='M8 0C3.59 0 0 3.59 0 8s3.59 8 8 8 8-3.59 8-8-3.59-8-8-8m0 2c3.332 0 6 2.668 6 6s-2.668 6-6 6-6-2.668-6-6 2.668-6 6-6m0 1.875a1.125 1.125 0 1 0 0 2.25 1.125 1.125 0 0 0 0-2.25M6.477 7A.5.5 0 0 0 6.5 8H7v3h-.5a.499.499 0 1 0 0 1h3a.499.499 0 1 0 0-1H9V7zm0 0'/%3E%3C/svg%3E");
				-webkit-mask-image: var(--icon);
				vertical-align: -0.25em;
				opacity: var(--dim-opacity);
				mask-image: var(--icon);
				cursor: help;
				margin-inline-start: 0.25rem;
				width: 1rem;
				height: 1rem;
			}
		}
	}
}

body:has(#skeuo-switch:checked) {
	box-shadow: inset 0 0 8rem black;
	background:
		radial-gradient(circle at 0% 0%,
			var(--accent-color-alpha),
			transparent) top left / cover,
		url("coffee/fabric.webp");
	background-blend-mode: hard-light, normal;

	#site-nav {
		-webkit-backdrop-filter: none;
		backdrop-filter: none;
		outline: 0.0625rem solid rgb(255 255 255 / 0.8);
		box-shadow:
			var(--edge-highlight),
			0 0.375rem 2rem rgb(0 0 0 / 0.3);
		background-image: linear-gradient(rgb(224 224 224 / 0.95),
				rgb(212 212 212 / 0.9) 50%,
				rgb(192 192 192 / 0.8) 50%);
		background-color: transparent;

		nav {
			filter: drop-shadow(0 0.0625rem 0 rgb(255 255 255 / 0.8));

			a,
			#search button {
				color: rgb(0 0 0 / 0.7);

				&:hover {
					background-color: rgb(255 255 255 / 0.4);
					color: black;
				}

				&.active {
					&::before {
						border-block-end: 0.25rem solid rgb(0 0 0 / 0.7);
					}

					&:hover::before {
						border-block-end: 0.25rem solid black;
					}
				}
			}
		}

		#search-container {
			#search-bar {
				-webkit-backdrop-filter: none;
				backdrop-filter: none;
				box-shadow: var(--edge-highlight);
				background-image: linear-gradient(to top,
						rgb(224 224 224 / 0.95),
						rgb(212 212 212 / 0.9) 50%,
						rgb(192 192 192 / 0.8) 50%);
				background-color: transparent;
			}

			#search-results {
				-webkit-backdrop-filter: none;
				backdrop-filter: none;
				box-shadow: var(--edge-highlight);
				background-image: linear-gradient(rgb(224 224 224 / 0.95),
						rgb(212 212 212 / 0.9) 50%,
						rgb(192 192 192 / 0.8) 50%);
				background-color: transparent;

				.item {
					background-color: rgb(255 255 255 / 0.4);
				}
			}
		}
	}

	#site-footer {
		box-shadow: inset 0 0.25rem 0.75rem rgb(0 0 0 / 0.4);
		background:
			radial-gradient(black 15%, transparent 16%) 0 0,
			radial-gradient(black 15%, transparent 16%) 0.5rem 0.5rem,
			radial-gradient(rgb(255 255 255 / 0.1) 15%, transparent 20%) 0 0.0625rem,
			radial-gradient(rgb(255 255 255 / 0.1) 15%, transparent 20%) 0.5rem 0.5625rem;
		background-size: 1rem 1rem;
		background-color: hsl(0 0% 27%);

		* {
			color: hsl(0 0% 78%);
			text-shadow: 0 0.125rem 0.25rem black;
		}

		nav {
			box-shadow:
				inset 0 0.0625rem 0.25rem rgb(0 0 0 / 0.5),
				0 0.0625rem 0 rgb(255 255 255 / 0.1);
			background-color: hsl(0 0% 22%);

			a {
				text-shadow: 0 -0.0625rem 0 rgb(0 0 0 / 0.4);

				&:hover {
					background-color: rgb(255 255 255 / 0.2);
					color: white;
				}
			}
		}

		.link {
			display: inline-block;
			box-shadow:
				inset rgb(255 255 255 / 0.2) 0 0.0625rem 0 0,
				0 0.125rem 0 0 hsl(0 0% 12%);
			background-color: hsl(0 0% 22%);
			text-shadow: 0 -0.0625rem 0 rgb(0 0 0 / 0.4);

			&:hover {
				filter: brightness(1.1);
			}

			&:active {
				transform: translateY(0.125rem);
				filter: brightness(0.9);
				box-shadow: inset rgb(255 255 255 / 0.2) 0 0.0625rem 0 0;
			}
		}

		#john-container {
			box-shadow: 0 0.375rem 2rem rgb(0 0 0 / 0.3);
		}
	}

	#coffee-container {
		box-shadow: 0 0.375rem 2rem rgb(0 0 0 / 0.3);
		background-image: url("coffee/paper.webp");
		color: hsl(32 26% 20%);
		text-shadow: 0 0.0625rem 0 rgb(255 255 255 / 0.3);

		#coffee-banner {
			box-shadow: var(--shadow);
		}

		#message a {
			color: inherit;
		}

		#buttons {
			.inline-button {
				transform: translateY(-0.125rem);

				&:hover {
					filter: brightness(1.1);
				}

				&:active {
					transform: translateY(0);
					filter: brightness(0.9);
					box-shadow:
						inset 0 0.0625rem 0.1875rem rgb(0 0 0 / 0.5),
						0 0.0625rem 0 rgb(255 255 255 / 0.1) !important;
				}

				&#ko-fi {
					box-shadow:
						inset rgb(255 255 255 / 0.3) 0 0.0625rem 0 0,
						0 0.125rem 0 0 hsl(1 100% 38%);
					background-image: linear-gradient(hsl(1 100% 78%),
							hsl(1 100% 58%));
					text-shadow: 0 -0.0625rem 0 rgb(0 0 0 / 0.4);
				}

				&#liberapay {
					box-shadow:
						inset rgb(255 255 255 / 0.3) 0 0.0625rem 0 0,
						0 0.125rem 0 0 hsl(48 93% 32%);
					background-image: linear-gradient(hsl(48 93% 62%),
							hsl(48 93% 42%));
					text-shadow: 0 0.0625rem 0 rgb(255 255 255 / 0.4);
				}

				&#monero {
					box-shadow:
						inset rgb(255 255 255 / 0.3) 0 0.0625rem 0 0,
						0 0.125rem 0 0 hsl(24 100% 30%);
					background-image: linear-gradient(hsl(24 100% 60%),
							hsl(24 100% 40%));
					text-shadow: 0 -0.0625rem 0 rgb(0 0 0 / 0.4);
				}

				&#paypal {
					box-shadow:
						inset rgb(255 255 255 / 0.3) 0 0.0625rem 0 0,
						0 0.125rem 0 0 hsl(219 100% 16%);
					background-image: linear-gradient(hsl(219 100% 46%),
							hsl(219 100% 26%));
					text-shadow: 0 -0.0625rem 0 rgb(0 0 0 / 0.4);
				}
			}
		}

		#skeuo-switch {
			box-shadow:
				inset 0 0.0625rem 0.25rem rgb(0 0 0 / 0.5),
				0 0.0625rem 0 rgb(255 255 255 / 0.1);

			&+label {
				filter: drop-shadow(0 0.0625rem 0 rgb(255 255 255 / 0.3));
				color: hsl(32 26% 20% / 0.8);
				text-shadow: none;
			}

			&:hover {
				filter: brightness(1.1);
			}

			&::before {
				box-shadow:
					inset 0 0.0625rem 0 rgb(255 255 255),
					0 0.0625rem 0.375rem rgb(0 0 0 / 0.5);
				background-image: linear-gradient(darkgray, white);
				background-size: cover;
			}
		}
	}

	@media (prefers-color-scheme: dark) {
		background:
			radial-gradient(circle at 0% 0%,
				var(--accent-color-alpha),
				transparent) top left / cover,
			linear-gradient(rgb(0 0 0 / 0.5), rgb(0 0 0 / 0.5)),
			url("coffee/fabric.webp");
		background-blend-mode: hard-light, normal, normal;

		#site-nav {
			outline: 0.0625rem solid rgb(0 0 0 / 0.8);
			background-image: linear-gradient(rgb(80 80 80 / 0.95),
					rgb(32 32 32 / 0.9) 50%,
					rgb(0 0 0 / 0.8) 50%);

			nav {
				filter: drop-shadow(0 -0.0625rem 0 rgb(0 0 0 / 0.8));

				a,
				#search button {
					color: rgb(255 255 255 / 0.7);

					&:hover {
						background-color: rgb(255 255 255 / 0.1);
						color: white;
					}

					&.active {
						&::before {
							border-block-end: 0.25rem solid rgb(255 255 255 / 0.7);
						}

						&:hover::before {
							border-block-end: 0.25rem solid white;
						}
					}
				}
			}

			#search-container {
				#search-bar {
					background-image: linear-gradient(to top,
							rgb(80 80 80 / 0.95),
							rgb(32 32 32 / 0.90) 50%,
							rgb(0 0 0 / 0.8) 50%);
				}

				#search-results {
					background-image: linear-gradient(rgb(80 80 80 / 0.95),
							rgb(32 32 32 / 0.9) 50%,
							rgb(0 0 0 / 0.8) 50%);

					.item {
						background-color: rgb(255 255 255 / 0.1);
					}
				}
			}
		}

		#site-footer {
			background-color: hsl(0 0% 13%);

			* {
				color: hsl(0 0% 58%);
			}

			nav {
				background-color: hsl(0 0% 10%);
			}

			.link {
				box-shadow:
					inset rgb(255 255 255 / 0.2) 0 0.0625rem 0 0,
					0 0.125rem 0 0 black;
				background-color: hsl(0 0% 10%);
			}
		}
	}
}
