#to-do {
	display: flex;
	flex-direction: column;
	padding-block-start: 0.5rem;
	aspect-ratio: 1 / 1;

	&-title {
		color: var(--accent-color);
		font-size: x-large;
	}

	&-container {
		flex: 1;
		mask-image: linear-gradient(to bottom, transparent, black 1rem, black calc(100% - 1rem), transparent);
		margin: 0 -1rem -1rem;
		padding: 1rem;
		padding-block-start: 0;
		overflow: auto;
	}

	ul {
		margin: 0;
		margin-block-start: 0.5rem;
		padding: 0;
		color: var(--fg-muted-5);
		font-size: smaller;
		list-style: none;
	}
}
