@font-face {
  font-family: Pacifico;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/Pacifico-Regular.woff2?v=3.000") format("woff2");
}

.about-splash {
  text-align: center;

  .avatar {
    background-color: var(--light1);
    border-color: var(--light1);
    border-radius: 50%;
    border-style: solid;
    border-width: 16px;
    display: inline-block;
    height: 128px;
    margin-bottom: 0;
    transition: var(--transition-longer);
    width: 128px;

    &:hover {
      border-radius: 50%;
      border-width: 2px;
      box-shadow: none;
      transform: scale(1.2);
    }
  }

  .header {
    color: #404a65;
    font-family: Pacifico, cursive;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 0;
    transition: var(--transition-longer);

    &:hover {
      text-shadow: 3px 3px 0 #f4e2cc, 6px 6px 0 #f25242, 9px 9px 0 #93bfb0,
        12px 12px 0 #f1d456;
      transform: translate(-12px, -12px);
    }

    @media (prefers-color-scheme: dark) {
      & {
        color: #f4e2cc;

        &:hover {
          text-shadow: 3px 3px 0 #404a65, 6px 6px 0 #f25242, 9px 9px 0 #93bfb0,
            12px 12px 0 #f1d456;
        }
      }
    }
  }
}

.media-grid {
  display: grid;
  gap: 2rem;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  justify-items: center;
  margin: 1rem 0 1rem;
  padding: 0;
  text-align: center;

  img:hover,
  img {
    all: unset;
    display: block;
    max-width: 100%;
  }

  a {
    border-radius: var(--rounded-corner);
    padding: 0.75rem;
    text-decoration: none;
    transition: var(--transition-bezier);
  }

  a:hover {
    background-color: var(--fg-muted-1);
    box-shadow: 0 0 0 8px var(--fg-muted-1);
    text-decoration: none;
  }
}

section#original-icons {
  background-color: rgba(98, 160, 234, 0.5);
  background-image: radial-gradient(
    circle,
    var(--fg-muted-1) 1px,
    transparent 1px
  );
  background-size: 1rem 1rem;
}

section#redrawn-icons {
  background-color: rgba(87, 227, 137, 0.5);
  background-image: radial-gradient(
    circle,
    var(--fg-muted-1) 1px,
    transparent 1px
  );
  background-size: 1rem 1rem;
}

section#wallpapers {
  background-color: rgba(255, 163, 72, 0.5);
  background-image: radial-gradient(
    circle,
    var(--fg-muted-1) 1px,
    transparent 1px
  );
  background-size: 1rem 1rem;

  img {
    border-radius: var(--rounded-corner);
  }
}

details.blurred ul li {
  color: var(--primary-color);
  filter: blur(6px);
  transition: var(--transition-longer);

  &:hover {
    color: var(--fg-color);
    filter: blur(0);
  }
}

.drop-shadow {
  filter:
    // Sharp drop shadow
    drop-shadow(0 0.08rem 0.1rem rgba(0, 0, 0, 0.35))
    // Diffuse ambient shadow
    drop-shadow(0 0.4rem 0.7rem rgba(0, 0, 0, 0.18));
}
