:root {
	--fg-color: rgb(207, 192, 159);
	--fg-muted-1: rgba(255, 255, 255, 0.05);
	--fg-muted-2: rgba(255, 255, 255, 0.1);
	--fg-muted-3: rgba(255, 255, 255, 0.2);
	--fg-muted-4: rgba(255, 255, 255, 0.5);
	--fg-muted-5: rgba(255, 255, 255, 0.6);
	--nav-bg: rgba(25, 25, 25, 0.7);
	--primary-color: rgb(207, 192, 159);
	--primary-color-alpha: rgba(207, 192, 159, 0.2);
}

body {
	animation: fade-in 3s;
	background: black;

	@keyframes fade-in {
		from {
			opacity: 0;
		}
	}

	&::before {
		display: block;
		position: fixed;
		z-index: -1;
		filter: brightness(50%);
		background-image: url("design/curtain.webp");
		// background-image: linear-gradient(to right, rgb(35, 6, 9) 0%, rgb(224, 27, 36) 4%, rgb(79, 13, 21) 6%, rgb(224, 27, 36) 10%, rgb(61, 10, 17) 16%, rgb(224, 27, 36) 24%, rgb(54, 7, 15) 30%, rgb(224, 27, 36) 36%, rgb(70, 12, 18) 39%, rgb(224, 27, 36) 50%, rgb(54, 7, 15) 55%, rgb(224, 27, 36) 69%, rgb(35, 6, 9) 71%, rgb(224, 27, 36) 82%, rgb(35, 6, 9) 84%, rgb(224, 27, 36) 100%);
		background-size: contain;
		background-repeat: repeat-x;
		width: 100vw;
		height: 100vh;
		content: "";

		@media (prefers-color-scheme: dark) {
			filter: brightness(20%);
		}
	}

	&::after {
		-webkit-pointer-events: none;
		display: block;
		position: fixed;
		filter: saturate(120%) brightness(150%);
		animation: curtains-open 3s;
		background: url("design/curtain-l.webp"), url("design/curtain-r.webp");
		background-position: top left, top right;
		background-size: calc(((100% - var(--container-width)) / 2) - 2rem) 100%;
		background-repeat: no-repeat;
		width: 100vw;
		height: 100vh;
		pointer-events: none;
		content: "";

		@keyframes curtains-open {

			from,
			50% {
				filter: saturate(1) brightness(10%);
				background-size: 60% 100%;
			}
		}

		@media (prefers-color-scheme: dark) {
			filter: saturate(120%) brightness(1);
		}
	}
}

.container {
	animation: fade-in-2 3s;

	@keyframes fade-in-2 {

		from,
		50% {
			opacity: 0;
		}
	}
}

h1,
h2 {
	-webkit-background-clip: text;
	background: linear-gradient(to bottom, rgb(207, 192, 159) 27%, rgb(255, 236, 179) 40%, rgb(58, 44, 15) 78%);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.media-grid {
	grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
	justify-items: center;
	gap: 2rem;
	margin: 1rem 0;
	text-align: center;

	a {
		transition: var(--transition);
		border-radius: calc(var(--rounded-corner) + 1rem);
		padding: 1rem;
		text-decoration: none;

		&:hover {
			box-shadow: var(--edge-highlight);
			background-color: var(--fg-muted-1);
			text-decoration: none;

			div {
				img {
					opacity: 0.5;
				}

				&::before {
					opacity: 1;
				}
			}
		}

		&:active {
			transform: scale(var(--active));
		}

		div {
			position: relative;

			&::before {
				$grid: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='128' height='128' style='display:inline' version='1.0'%3E%3Ccircle cx='64' cy='64' r='59.5' style='fill:none;stroke:%23000;stroke-width:1'/%3E%3Crect width='87' height='111' x='20.5' y='8.5' rx='8' ry='8' style='fill:none;stroke:%23000;stroke-width:1'/%3E%3Crect width='103' height='103' x='12.5' y='12.5' rx='8' ry='8' style='fill:none;stroke:%23000;stroke-width:1'/%3E%3Crect width='111' height='87' x='8.5' y='28.5' rx='8' ry='8' style='fill:none;stroke:%23000;stroke-width:1'/%3E%3C/svg%3E");
				-webkit-mask-image: $grid;
				-webkit-mask-size: cover;
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
				mask-image: $grid;
				mask-size: cover;
				transition: var(--transition);
				background-color: var(--fg-muted-3);
				width: 8rem;
				height: 8rem;
				content: "";
			}

			img {
				$drop-shadow: drop-shadow(0 0.08rem 0.1rem rgba(0, 0, 0, 0.35)) drop-shadow(0 0.4rem 0.7rem rgba(0, 0, 0, 0.18));
				-webkit-filter: $drop-shadow;
				filter: $drop-shadow;
			}
		}

		img {
			display: inline-block;
			transition: var(--transition);
			margin: 0;
		}

		small {
			display: block;
			margin-top: 0.25rem;
		}
	}
}

#original-icons,
#redrawn-icons,
#wallpapers {
	margin-right: calc((-100vw + 100%) / 2);
	margin-left: calc((-100vw + 100%) / 2);
	// background-image: radial-gradient(circle, var(--fg-muted-1) 0.0625rem, transparent 0.0625rem);
	// background-size: 1rem 1rem;
	padding-top: 3rem; // Margin doesn't work for some reason

	h2 {
		margin-top: 0;
	}
}

#original-icons {
	margin-top: 2rem;
	// background-color: rgba(98, 160, 234, 0.5);
}

// #redrawn-icons {
// 	background-color: rgba(87, 227, 137, 0.5);
// }

#wallpapers {
	// background-color: rgba(255, 163, 72, 0.5);

	img {
		border-radius: var(--rounded-corner);
	}
}

#site-footer {
	margin-top: 0;

	nav ul li a,
	p small a.link {
		&:hover {
			color: rgba(0, 0, 0, 0.8);
		}
	}
}
