body {
	background: black;

	&::before {
		display: block;
		position: fixed;
		z-index: -1;
		filter: brightness(0.5);
		background-image: url("design/curtain.webp");
		background-size: contain;
		background-repeat: repeat-x;
		width: 100vw;
		height: 100vh;
		content: "";

		@media (prefers-color-scheme: dark) {
			filter: brightness(0.2);
		}
	}

	&::after {
		display: block;
		position: fixed;
		filter: saturate(1.2) brightness(1.5);
		background: url("design/curtain-l.webp"), url("design/curtain-r.webp");
		background-position:
			top left,
			top right;
		background-size: calc(((100% - var(--container-width)) / 2) - 2rem) 100%;
		background-repeat: no-repeat;
		width: 100vw;
		height: 100vh;
		pointer-events: none;
		content: "";

		@media (prefers-color-scheme: dark) {
			filter: saturate(1.2) brightness(1);
		}
	}
}

h1,
h2 {
	-webkit-background-clip: text;
	background-image: linear-gradient(
		to bottom,
		#cfc09f 27%,
		#ffecb3 40%,
		#3a2c0f 78%
	);
	background-clip: text;
	color: transparent;
}

.media-grid {
	grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
	justify-items: center;
	gap: 1rem;
	text-align: center;

	.grid-item {
		transition: var(--transition);
		border-radius: calc(var(--rounded-corner) + 1rem);
		padding: 1rem;
		text-decoration: none;

		&:hover {
			box-shadow: var(--edge-highlight);
			background-color: var(--fg-muted-1);
			text-decoration: none;

			div.grid {
				img {
					opacity: var(--dim-opacity);
				}

				&::before {
					opacity: 1;
				}
			}
		}

		div {
			position: relative;

			&.grid::before {
				-webkit-mask-image: var(--grid);
				--grid: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='128' height='128' style='display:inline' version='1.0'%3E%3Ccircle cx='64' cy='64' r='59.5' style='fill:none;stroke:%23000;stroke-width:1'/%3E%3Crect width='87' height='111' x='20.5' y='8.5' rx='8' ry='8' style='fill:none;stroke:%23000;stroke-width:1'/%3E%3Crect width='103' height='103' x='12.5' y='12.5' rx='8' ry='8' style='fill:none;stroke:%23000;stroke-width:1'/%3E%3Crect width='111' height='87' x='8.5' y='28.5' rx='8' ry='8' style='fill:none;stroke:%23000;stroke-width:1'/%3E%3C/svg%3E");
				position: absolute;
				opacity: 0;
				mask-image: var(--grid);
				mask-size: cover;
				transition: var(--transition);
				inset-block-start: 0;
				inset-inline-start: 0;
				background-color: var(--fg-muted-3);
				width: 8rem;
				height: 8rem;
				content: "";
			}
		}

		img {
			display: inline-block;
			transition: var(--transition);
			margin: 0;
		}

		small {
			display: block;
			margin-block-start: 0.25rem;
			font-weight: bold;
		}
	}

	a.grid-item:active {
		transform: var(--active);
	}
}

section {
	-webkit-backdrop-filter: var(--blur);
	display: block;
	backdrop-filter: var(--blur);
	margin-inline-start: calc((-100vw + 100%) / 2);
	margin-inline-end: calc((-100vw + 100%) / 2);
	margin-block-start: 2rem;
	box-shadow: var(--edge-highlight), var(--shadow-glass);
	background-image: radial-gradient(
		circle,
		var(--fg-muted-1) 0.0625rem,
		transparent 0.0625rem
	);
	background-size: 1rem 1rem;

	&#original-icons,
	&#redrawn-icons,
	&#unused-icons {
		@media only screen and (max-width: 480px) {
			.media-grid {
				grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
			}
		}

		img {
			width: 8rem;
			height: 8rem;
		}
	}

	&#original-icons {
		background-color: var(--blue-bg);
	}

	&#redrawn-icons {
		background-color: var(--green-bg);

		a div:hover {
			img {
				opacity: 0;
			}

			img.before {
				opacity: var(--dim-opacity);
			}
		}

		img.before {
			position: absolute;
			opacity: 0;
			inset-block-start: 0;
			inset-inline-start: 0;
		}
	}

	&#unused-icons {
		background-color: var(--fg-muted-2);
	}

	&#wallpapers {
		background-color: var(--purple-bg);
	}

	&#logos {
		background-color: var(--yellow-bg);

		a div:hover {
			img.mono {
				opacity: 1;
			}
		}

		img {
			background-color: white;

			@media (prefers-color-scheme: dark) {
				background-color: black;
			}
		}

		img.mono {
			position: absolute;
			opacity: 0;
			inset-block-start: 0;
			inset-inline-start: 0;
		}
	}

	h2 {
		display: inline-block;
		margin-block-end: 0;
	}
}

#site-footer nav {
	-webkit-backdrop-filter: var(--blur);
	backdrop-filter: var(--blur);
	box-shadow: var(--edge-highlight), var(--shadow-glass);
}
