@use "../themes/ametrine/sass/style";
@use "components/nanolog";
@use "../themes/ametrine/sass/components/functions" as *;
@use "components/mixins" as *;

:root {
	--bg-overlay: linear-gradient(rgb(255 255 255 / var(--disabled-opacity)), rgb(255 255 255 / var(--dim-opacity)));
	--blur: blur(0.25rem) saturate(180%);
	--edge-highlight:
		inset 0px 12px 14px 0px rgb(255 255 255 / 0.3),
		inset 0px -4px 16px 0px rgb(0 0 0 / 0.1),
		inset -1px -1px 2px 0.5px rgb(0 0 0 / 0.05),
		inset 2px -2px 4px 1px rgb(0 0 0 / 0.05),
		inset 0 #{rpx(-1)} 0 rgb(0 0 0 / var(--color-opacity-1));

	@media (prefers-color-scheme: dark) {
		& {
			--bg-overlay: linear-gradient(rgb(0 0 0 / var(--disabled-opacity)), rgb(0 0 0 / var(--dim-opacity)));
			--edge-highlight:
				inset 0px -12px 14px 0px rgba(0, 0, 0, 0.3),
				inset 0px 4px 16px 0px rgba(255, 255, 255, 0.1),
				inset 1px 1px 2px 0.5px rgba(255, 255, 255, 0.1),
				inset -2px -2px 4px 1px rgba(255, 255, 255, 0.05),
				inset 0 #{rpx(1)} 0 rgb(255 255 255 / var(--color-opacity-1));
		}
	}
}

body {
	background-image: var(--bg-overlay), url("/longhorn-1.webp");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.article-list article,
.article-list article.has-banner.has-accent-color,
.card-grid .card,
.icon-grid a,
#nanolog-list li > div:nth-of-type(2) {
	@include fancy-card;
	background-color: transparent;
}

.icon-grid a:hover {
	background-color: var(--bg-muted-1);
}

.buttons a,
.buttons button {
	box-shadow: var(--edge-highlight), var(--shadow-glass);
}
