#percentage {
	display: flex;
	position: relative;
	margin: 4rem auto 0;
	width: min(calc(var(--container-width) / 1.5), 100%);

	span {
		position: absolute;
		transform: translateX(-50%);
		inset-block-end: calc(100% + 0.75rem);
		inset-inline-start: var(--percentage);
		border-radius: var(--rounded-corner-small);
		background-color: var(--accent-color);
		padding: 0.25rem 0.375rem;
		color: var(--contrast-color);
		font-weight: var(--font-weight-semi-bold);
		font-variant-numeric: tabular-nums;

		&::before {
			position: absolute;
			transform: translateX(-50%);
			inset-block-start: 100%;
			inset-inline-start: 50%;
			border-top: 0.5rem solid var(--accent-color);
			border-right: 0.5rem solid transparent; 
			border-left: 0.5rem solid transparent;
			width: 0; 
			height: 0;
			content: "";
		}
	}
}

#posts-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
	gap: 0.5rem;
	margin-block-start: 2rem;
	padding: 0;
	list-style: none;

	li {
		display: flex;
		position: relative;
		flex-direction: column;
		gap: 1rem;
        box-shadow: var(--edge-highlight), var(--shadow);
        border-radius: var(--rounded-corner);
        background-color: var(--bg-muted-1);
        padding: 0.75rem 1rem;

		&.journal {
			--fg-muted-1: color-mix(in srgb, var(--purple-fg) 15%, rgb(0 0 0 / 0.5));
			--fg-muted-2: color-mix(in srgb, var(--purple-fg) 15%, rgb(0 0 0 / 0.6));

			@media (prefers-color-scheme: dark) {
				--fg-muted-1: color-mix(in srgb, var(--purple-fg) 15%, rgb(255 255 255 / 0.5));
				--fg-muted-2: color-mix(in srgb, var(--purple-fg) 15%, rgb(255 255 255 / 0.6));
			}

			background-color: var(--purple-bg-1);

			a {
				color: var(--purple-fg);
			}
		}

		a {
			font-size: var(--font-size-large);
		}

        p {
            margin: 0;
        }

		small {
			margin-block-start: auto;
		}
	}
}
