{% extends "base.html" %}

{% block content %}
<h1>Posts with tag “{{ term.name }}”</h1>

<p>
	<small>
		<a href="{{ get_url(path='tags') }}">See all tags</a>
		<br />
		{{ term.pages | length }} post{{ term.pages | length | pluralize }} in total.
	</small>
</p>

{% include "partials/articles.html" %}
{% include "partials/paginator.html" %}
{% endblock content %}

{% block actions %}
<a class="feed" href="{{ current_url ~ 'atom.xml' }}" title="Feed"><i class="icon"></i></a>
{% endblock actions %}
