title = "Daudix"
base_url = "https://daudix.one"
# base_url = "/"
description = "Silly little goober with a creative mind."

theme = "ametrine"

compile_sass = true
minify_html = true
build_search_index = true
author = "Daudix"

taxonomies = [
  { name = "tags", feed = true, paginate_by = 10 },
  { name = "categories", feed = true },
]

[markdown]
highlight_code = true
extra_syntaxes_and_themes = ["themes/ametrine/sublime"]
highlight_theme = "css"
highlight_themes_css = [
  { theme = "monokai-pro-dark", filename = "syntax-theme-dark.css" },
  { theme = "monokai-pro-light", filename = "syntax-theme-light.css" },
]
smart_punctuation = true
bottom_footnotes = true
external_links_class = "external"

[search]
index_format = "elasticlunr_json"

[extra]
categories = [
  { name = "Archived", description = "Posts that have been archived due to their age.", color = "purple", icon = "box-arrow-down" },
  { name = "Featured", description = "Posts that are somewhat decently written.", color = "yellow", icon = "star" },
  { name = "Hot", description = "Posts that did numbers compared to others.", color = "red", icon = "fire" },
  { name = "Test", description = "Categories can be set and customized entirely from config, woo-hoo!", color = "green", icon = "feather" },
]
home_url = "@/home/index.md"
issues_url = "https://github.com/daudix/daudix.one/issues/new"
source_url = "https://github.com/daudix/daudix.one"
show_copy_button = true
show_reading_time = true
show_backlinks = true
date_format = "%d %B %Y"
date_format_long = "%d %B %Y, %R (%Z)"
date_locale = "en_IE"
timezone = "Europe/Moscow"
show_comments_qr = true

[extra.meta]
favicon = "favicon.gif"
apple_touch_icon = true
card = true

[extra.nav]
icon = "apple-touch-icon.png"
links = [
  { name = "Writing", category = [
    { url = "@/blog/_index.md", name = "Blog", icon = "newspaper-clipping" },
    { url = "@/nanolog/_index.md", name = "Nanolog", icon = "note-pencil" },
  ] },
  { name = "Projects", category = [
    { url = "@/design/index.md", name = "Design", icon = "compass-tool" },
    { url = "@/calendar/index.md", name = "Calendar", icon = "calendar-dots" },
    { url = "@/snug-nook/index.md", name = "Snug Nook", icon = "chats" },
  ] },
  { name = "Extra", category = [
    { url = "@/coffee/index.md", name = "Coffee", icon = "coffee" },
    { url = "@/colophon/index.md", name = "Colophon", icon = "question" },
    { url = "@/commissions/index.md", name = "Commissions", icon = "wallet" },
  ] },
]

[extra.footer]
copyright = true
show_fediring = true
show_timestamp = true
show_powered_by = true
socials = [
  { url = "https://bsky.app/profile/daudix.one", icon = "bluesky" },
  { url = "https://wetdry.world/@daudix", icon = "mastodon" },
  { url = "https://discord.com/users/650757995378114581", icon = "discord" },
  { url = "https://signal.me/#eu/b4KzM1OB3uW52mMywHUJa8h6yD4ATY_KXJJiuJtWUxOVAJP22PVO_qoNGFnf32W7", icon = "signal" },
  { url = "https://codeberg.org/daudix", icon = "codeberg" },
]

[extra.fediverse]
host = "wetdry.world"
user = "daudix"
show_qr = true

[extra.analytics]
service = "umami"
id = "3dbc6c32-f4f0-420e-bdb8-cfcaff7e7201"
self_hosted_url = "https://daudix.one/api"

[extra.debug]
layout = false
no_styles = false
no_emojis = false
