{%- if paginator.pages -%}
    {%- set pages = paginator.pages -%}
{%- elif section.pages -%}
    {%- set pages = section.pages -%}
{%- else -%}
    {%- set pages = term.pages -%}
{%- endif -%}

<div id="article-list">
	{%- for page in pages %}
		{%- if page.draft -%}
			{%- set article_type = "draft" -%}
			{%- set article_string = "Drafted" -%}
		{%- elif page.extra.archive -%}
			{%- set article_type = "archive" -%}
			{%- set article_string = "Archived" -%}
		{%- elif page.extra.featured -%}
			{%- set article_type = "featured" -%}
			{%- set article_string = "Featured" -%}
		{%- elif page.extra.hot -%}
			{%- set article_type = "hot" -%}
			{%- set article_string = "Hot" -%}
		{%- endif -%}
		{%- if page.extra.banner -%}
			{%- set blurnail = resize_image(path=page.colocated_path ~ page.extra.banner, width=4, height=2, op="fill", format="webp") -%}
		{%- endif -%}
		<article class="{% if article_type %}{{ article_type }}{% endif %}{% if page.extra.banner %} has-banner{% endif %}" style="
			{% if blurnail %}
				--blurnail: url('{{ blurnail.url | safe }}');
			{% endif %}

			{% if page.extra.accent_color %}
				--post-accent-color: {{ page.extra.accent_color }};
				--post-accent-color-dark: {{ page.extra.accent_color_dark }};
			{% endif %}">
			<div>
				<a href="{{ page.permalink | safe }}">
					<h3>{{ page.title }}</h3>
				</a>
				{%- if page.description %}
					<div class="description">
						{{ page.description | markdown | safe }}
					</div>
				{%- endif %}
				<div class="details">
					{%- if page.date -%}
						<div class="details-date">
							<span>
								<i class="icon"></i>
							</span>
							<time datetime="{{ page.date | date(format='%+') }}" pubdate>
								{{- page.date | date(format=config.extra.date_format, locale=config.extra.date_locale) -}}
							</time>
						</div>
					{%- endif -%}

					{%- if page.authors -%}
						<div class="details-authors">
							<span>
								<i class="icon"></i>
							</span>
							<span> {{ config.extra.separator | default(value="•") }} {% include "partials/authors.html" -%}</span>
						</div>
					{%- endif -%}

					{%- if config.extra.show_reading_time -%}
						<div class="details-time">
							<span>
								<i class="icon"></i>
							</span>
							<span>{{ page.reading_time }} minute{{ page.reading_time | pluralize -}}</span>
						</div>
					{%- endif -%}
				</div>
				{%- if page.taxonomies -%}
					<div class="tags-row">
						<span>
							<i class="icon"></i>
						</span>
						<ul class="tags">
							{%- for name, taxon in page.taxonomies %}
								{%-for item in taxon -%}
									<li><a class="tag" href="{{ get_taxonomy_url(kind=name, name=item) }}">{{ item }}</a></li>
								{%- endfor %}
							{%- endfor -%}
						</ul>
					</div>
				{%- endif %}
			</div>
			<a class="open-post" href="{{ page.permalink | safe }}">
				<i class="icon"></i>
			</a>
		</article>
	{%- endfor %}
</div>
