{%- if paginator.pages -%}
    {%- set pages = paginator.pages -%}
{%- elif section.pages -%}
    {%- set pages = section.pages -%}
{%- else -%}
    {%- set pages = term.pages -%}
{%- endif -%}

<div class="card-list">
	{%- for page in pages %}
		{%- if page.extra.banner -%}
			{%- set blurnail = resize_image(path=page.colocated_path ~ page.extra.banner, width=4, height=2, op="fill", format="webp") -%}
		{%- endif -%}
		<article class="{% if page.draft %}draft{% endif %}{% if page.extra.banner %} has-banner{% endif %}" style="
			{% if blurnail %}
				--blurnail: url('{{ blurnail.url | safe }}');
			{% endif %}

			{% if page.extra.accent_color %}
				--post-accent-color: {{ page.extra.accent_color }};
				--post-accent-color-dark: {{ page.extra.accent_color_dark }};
			{% endif %}">
			<div>
				<a href="{{ page.permalink | safe }}">
					<h3>{{ page.title }}</h3>
				</a>
				{%- if page.description %}
					<div class="description">
						{{ page.description | markdown | safe }}
					</div>
				{%- endif %}
				<div class="details">
					{%- if page.date -%}
						<div class="details-date">
							<span>
								<i class="icon"></i>
							</span>
							<time datetime="{{ page.date | date(format='%+') }}" pubdate>
								{{- page.date | date(format=config.extra.date_format, locale=config.extra.date_locale) -}}
							</time>
						</div>
					{%- endif -%}

					{%- if page.authors -%}
						<div class="details-authors">
							<span>
								<i class="icon"></i>
							</span>
							<span>{% include "partials/authors.html" %}</span>
						</div>
					{%- endif -%}

					{%- if config.extra.show_reading_time -%}
						<div class="details-time">
							<span>
								<i class="icon"></i>
							</span>
							<span>{{ page.reading_time }} minute{{ page.reading_time | pluralize -}}</span>
						</div>
					{%- endif -%}

					{%- if page.taxonomies.categories -%}
						<div class="details-category">
							<span>
								<i class="icon"></i>
							</span>
							{%- for category in page.taxonomies.categories %}
								<a href="{{ get_taxonomy_url(kind='categories', name=category) }}">{{ category }}</a>
							{%- endfor -%}
						</div>
					{%- endif %}
				</div>
				{%- if page.taxonomies.tags -%}
					<div class="tags-row">
						<span>
							<i class="icon"></i>
						</span>
						<ul class="tags">
							{%- for tag in page.taxonomies.tags %}
								<li><a class="tag" href="{{ get_taxonomy_url(kind='tags', name=tag) }}">{{ tag }}</a></li>
							{%- endfor -%}
						</ul>
					</div>
				{%- endif %}
			</div>
			<a class="open-post" href="{{ page.permalink | safe }}">
				<i class="icon"></i>
			</a>
		</article>
	{%- endfor %}
</div>
