{%- if page.extra.comments.host -%}
	{%- set host = page.extra.comments.host -%}
{%- else -%}
	{%- set host = config.extra.comments.host -%}
{%- endif -%}

{%- if page.extra.comments.user -%}
	{%- set user = page.extra.comments.user -%}
{%- else %}
	{%- set user = config.extra.comments.user -%}
{%- endif -%}

{%- set id = page.extra.comments.id -%}

{%- set date_locale = config.extra.date_locale | default(value="en_US") | replace(from="_", to="-") -%}

{%- if config.markdown.lazy_async_image %}
	<span id="lazy-async-image" class="hidden">true</span>
{%- else -%}
	<span id="lazy-async-image" class="hidden">false</span>
{%- endif %}

<span id="rel-attributes" class="hidden">{{ rel_attributes }}</span>
<span id="date-locale" class="hidden">{{ date_locale }}</span>
<span id="host" class="hidden">{{ host }}</span>
<span id="user" class="hidden">{{ user }}</span>
<span id="id" class="hidden">{{ id }}</span>

<section id="comments">
	{%- if config.extra.comments.show_qr -%}
		<img
			id="qrcode"
			class="pixels no-hover"
			title="QR code to a Mastodon post"
			{%- if config.markdown.lazy_async_image -%}decoding="async" loading="lazy"{%- endif -%}
			src="https://api.qrserver.com/v1/create-qr-code/?data=https://{{ host }}/@{{ user }}/{{ id }}"
		/>
	{%- endif -%}
	<h2>Comments</h2>
	<p>You can comment on this blog post by publicly replying to this post using a Mastodon or other ActivityPub/Fediverse account. Known non-private replies are displayed below.</p>
	<div class="buttons">
		<button id="load-comments">Load Comments</button>
		<a class="colored external" href="https://{{ host }}/@{{ user }}/{{ id }}" rel="{{ rel_attributes }}">Open Post</a>
	</div>
	<div id="comments-wrapper">
		<noscript>
			<p>Loading comments relies on JavaScript. Try enabling JavaScript and reloading, or visit the original post on Mastodon.</p>
		</noscript>
	</div>
</section>
