<footer id="site-footer">
	{%- if config.extra.footer.show_copyright %}
		<span id="site-footer-copyright" title="Site last updated {{ now() | date(format=config.extra.date_format_long | default(value='%B %d, %Y, %R') , locale=config.extra.date_locale | default(value='en_US')) }}">
			{%- if config.extra.footer.copyright %}
				{{ config.extra.footer.copyright | markdown | safe }}
			{%- else %}
				<p>&copy; {{ config.title }}, {{ now() | date(format="%Y") }}</p>
			{%- endif %}
		</span>
	{%- endif %}
	{%- if config.extra.footer.show_fediring  %}
		<div id="site-footer-fediring">
			<a class="external" href="https://fediring.net">Fediring</a>
			<a class="previous" href="https://fediring.net/previous?host={{ config.base_url | replace(from='https://', to='') }}" title="Previous"><i class="icon"></i></a>
			<a class="random" href="https://fediring.net/random" title="Random"><i class="icon"></i></a>
			<a class="next" href="https://fediring.net/next?host={{ config.base_url | replace(from='https://', to='') }}" title="Next"><i class="icon"></i></a>
		</div>
	{%- endif %}
</footer>
