<footer id="site-footer">
	{%- if config.extra.footer.show_copyright %}
		<div id="site-footer-copyright">
			{%- if config.extra.footer.copyright %}
				{{ config.extra.footer.copyright | markdown | safe }}
			{%- else %}
				<p>&copy; {{ config.title }}, {{ now() | date(format="%Y") }}</p>
			{%- endif %}
		</div>
	{%- endif %}
	{%- if config.extra.footer.show_fediring  %}
		<div id="site-footer-fediring">
			<a class="external" href="https://fediring.net">Fediring</a>
			<a class="previous" href="https://fediring.net/previous?host={{ config.base_url | replace(from='https://', to='') }}" title="Previous"><i class="icon"></i></a>
			<a class="random" href="https://fediring.net/random" title="Random"><i class="icon"></i></a>
			<a class="next" href="https://fediring.net/next?host={{ config.base_url | replace(from='https://', to='') }}" title="Next"><i class="icon"></i></a>
		</div>
	{%- endif %}
</footer>
