{%- set rel_attributes = macros_rel_attributes::rel_attributes() | trim -%}

<header id="site-nav">
	<a id="skip-to-content" href="#main-content" tabindex="0">Skip to Main Content</a>
	<a id="home" href="{{ get_url(path='@/home/index.md') }}" title="Home"
		{%- if current_url | default(value="/") | trim_end_matches(pat="/") | safe == get_url(path='@/home/index.md') | trim_end_matches(pat='/') | safe -%}
			class="active"
		{%- endif -%}>
		<i class="icon"></i>
	</a>
	<details class="closable">
		<summary title="Menu">
			<i class="icon menu"></i>
			<i class="icon close"></i>
		</summary>
		<div>
			<nav>
				<ul>
					{%- for link in config.extra.nav.links %}
						{%- if link.url is matching("https?://") %}
							<li>
								<a href="{{ link.url }}" rel="{{ rel_attributes }}" class="external{% if link.new %} new{% endif %}">
									{{- link.name -}}
								</a>
							</li>
						{%- else %}
							<li>
								<a href="{{ get_url(path=link.url)}}" class="
									{% if link.new %}
										new
									{% endif %}
									{% if current_url | default(value='/') | trim_end_matches(pat='/') | safe == get_url(path=link.url) | trim_end_matches(pat='/') | safe %}
										active
									{% endif %}">
									{{- link.name -}}
								</a>
							</li>
						{%- endif %}
					{%- endfor -%}
				</ul>
			</nav>
			{%- if config.build_search_index %}
				<label for="search-bar" class="visually-hidden">Search</label>
				<input id="search-bar" placeholder="Search for…" autocomplete="off" type="search">
				<div id="search-results"></div>
			{%- endif %}
		</div>
	</details>
</header>
