{%- if paginator.pages -%}
	<nav id="paginator">
		{%- if paginator.first != current_url -%}
			<a id="paginator-first" href="{{ paginator.first }}" title="First">
				<i class="icon"></i>
			</a>
		{% else %}
			<span id="paginator-first" title="First">
				<i class="icon"></i>
			</span>
		{%- endif -%}

		{%- if paginator.previous -%}
			<a id="paginator-previous" href="{{ paginator.previous }}" title="Previous">
				<i class="icon"></i>
			</a>
		{% else %}
			<span id="paginator-previous" title="Previous">
				<i class="icon"></i>
			</span>
		{%- endif -%}

		<span id="paginator-counter">{{ paginator.current_index }}/{{ paginator.number_pagers }}</span>

		{%- if paginator.next -%}
			<a id="paginator-next" href="{{ paginator.next }}" title="Next">
				<i class="icon"></i>
			</a>
		{%- else -%}
			<span id="paginator-next" title="Next">
				<i class="icon"></i>
			</span>
		{%- endif -%}

		{%- if paginator.last != current_url -%}
			<a id="paginator-last" href="{{ paginator.last }}" title="Last">
				<i class="icon"></i>
			</a>
		{% else %}
			<span id="paginator-last" title="Last">
				<i class="icon"></i>
			</span>
		{%- endif -%}
	</nav>
{%- endif -%}
