{%- if page.extra.archive and page.extra.archive != true -%}
	<div class="statement-container archive">
		<strong class="title">
			<i class="icon"></i>
			Archived
		</strong>
		{{ page.extra.archive | markdown | safe }}
	</div>
{%- endif -%}

{%- if page.extra.trigger -%}
	<div class="statement-container trigger">
		<strong class="title">
			<i class="icon"></i>
			Trigger Warning
		</strong>
		{{ page.extra.trigger | markdown | safe }}
	</div>
{%- endif -%}

{%- if page.extra.disclaimer -%}
	<div class="statement-container disclaimer">
		<strong class="title">
			<i class="icon"></i>
			Disclaimer
		</strong>
		{{ page.extra.disclaimer | markdown | safe }}
	</div>
{%- endif -%}
