<style type="text/css">
	:root {
		{%- set accent_predefined = "" -%}

		{%- if page.extra.accent_color_predefined is defined -%}
			{%- set accent_predefined = page.extra.accent_color_predefined -%}
		{%- elif section.extra.accent_color_predefined is defined -%}
			{%- set accent_predefined = section.extra.accent_color_predefined -%}
		{%- elif config.extra.accent_color_predefined is defined -%}
			{%- set accent_predefined = config.extra.accent_color_predefined -%}
		{%- endif -%}

		{%- set accent_color = "#6f8396" -%}
		{%- set accent_color_dark = "#6f8396" -%}

		{%- if accent_predefined == "red" -%}
			{%- set accent_color = "#e14775" -%}
			{%- set accent_color_dark = "#ff6188" -%}
		{%- elif accent_predefined == "orange" -%}
			{%- set accent_color = "#e16032" -%}
			{%- set accent_color_dark = "#fc9867" -%}
		{%- elif accent_predefined == "yellow" -%}
			{%- set accent_color = "#cc7a0a" -%}
			{%- set accent_color_dark = "#ffd866" -%}
		{%- elif accent_predefined == "green" -%}
			{%- set accent_color = "#269d69" -%}
			{%- set accent_color_dark = "#a9dc76" -%}
		{%- elif accent_predefined == "blue" -%}
			{%- set accent_color = "#1c8ca8" -%}
			{%- set accent_color_dark = "#78dce8" -%}
		{%- elif accent_predefined == "purple" -%}
			{%- set accent_color = "#7058be" -%}
			{%- set accent_color_dark = "#ab9df2" -%}
		{%- endif -%}

		{%- if accent_predefined == "" -%}
			{%- if page.extra.accent_color is defined -%}
				{%- set accent_color = page.extra.accent_color -%}
			{%- elif section.extra.accent_color is defined -%}
				{%- set accent_color = section.extra.accent_color -%}
			{%- elif config.extra.accent_color is defined -%}
				{%- set accent_color = config.extra.accent_color -%}
			{%- endif -%}

			{%- if page.extra.accent_color_dark is defined -%}
				{%- set accent_color_dark = page.extra.accent_color_dark -%}
			{%- elif section.extra.accent_color_dark is defined -%}
				{%- set accent_color_dark = section.extra.accent_color_dark -%}
			{%- elif config.extra.accent_color_dark is defined -%}
				{%- set accent_color_dark = config.extra.accent_color_dark -%}
			{%- endif -%}
		{%- endif -%}

		--accent-color: {{ accent_color | safe }};
	}

	{%- if accent_color_dark -%}
		[data-theme="dark"] {
			--accent-color: {{ accent_color_dark | safe }};
		}

		@media (prefers-color-scheme: dark) {
			:root:not([data-theme="light"]) {
				--accent-color: {{ accent_color_dark | safe }};
			}
		}
	{%- endif -%}

	{%- if page.extra.debug.layout or section.extra.debug.layout or config.extra.debug.layout -%}
		*,
		*::before,
		*::after {
			outline: solid 1px var(--accent-color);
		}
	{%- endif -%}
</style>
