main {
	margin: 0 0.5rem 0.5rem;
	box-shadow: var(--edge-highlight), var(--shadow);
	border-radius: var(--rounded-corner);
	background-image: linear-gradient(rgb(0 0 0 / 0.5), rgb(0 0 0 / 0.5)), url("curtain.webp");
	background-size: contain;
	background-repeat: repeat-x;
	background-attachment: fixed;

	@media (prefers-color-scheme: dark) {
		background-image: linear-gradient(rgb(0 0 0 / 0.8), rgb(0 0 0 / 0.8)), url("curtain.webp");
	}
}

h1 {
	-webkit-background-clip: text;
	filter: drop-shadow(max(1px, 0.0625em) max(1px, 0.0625em) rgb(0 0 0 / 0.6));
	background-image: linear-gradient(
		to bottom,
		#cfc09f 27%,
		#ffecb3 40%,
		#3a2c0f 78%
	);
	background-clip: text;
	color: transparent;
}

.media-grid {
	grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
	justify-items: center;
	gap: 1rem;
	text-align: center;

	.grid-item {
		transition: all var(--transition), transform var(--transition-bezier);
		border-radius: calc(var(--rounded-corner) + 1rem);
		padding: 1rem;
		text-decoration: none;

		&:hover {
			box-shadow: var(--edge-highlight), var(--shadow);
			background-color: var(--bg-muted-1);
			text-decoration: none;

			div.grid {
				img {
					opacity: var(--dim-opacity);
				}

				&::before {
					opacity: 1;
				}
			}
		}

		div {
			position: relative;

			&.grid::before {
				--grid: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='128' height='128' style='display:inline' version='1.0'%3E%3Ccircle cx='64' cy='64' r='59.5' style='fill:none;stroke:%23000;stroke-width:1'/%3E%3Crect width='87' height='111' x='20.5' y='8.5' rx='8' ry='8' style='fill:none;stroke:%23000;stroke-width:1'/%3E%3Crect width='103' height='103' x='12.5' y='12.5' rx='8' ry='8' style='fill:none;stroke:%23000;stroke-width:1'/%3E%3Crect width='111' height='87' x='8.5' y='28.5' rx='8' ry='8' style='fill:none;stroke:%23000;stroke-width:1'/%3E%3C/svg%3E");
				-webkit-mask-image: var(--grid);
				position: absolute;
				opacity: 0;
				mask-image: var(--grid);
				mask-size: cover;
				transition: var(--transition);
				inset-block-start: 0;
				inset-inline-start: 0;
				background-color: var(--bg-muted-2);
				width: 8rem;
				height: 8rem;
				content: "";
			}
		}

		img {
			display: inline-block;
			transition: var(--transition);
			margin: 0;
		}

		small {
			display: block;
			margin-block-start: 0.25rem;
			font-weight: var(--font-weight-semi-bold);
		}
	}

	a.grid-item:active {
		transform: var(--active);
	}
}

section {
	-webkit-backdrop-filter: var(--blur);
	backdrop-filter: var(--blur);
	margin-block-start: 2rem;
	box-shadow: var(--edge-highlight), var(--shadow);
	border-radius: 2.75rem;
	border-start-start-radius: var(--rounded-corner);
	background-image: radial-gradient(
		circle,
		var(--bg-muted-1) 1px,
		transparent 1px
	);
	background-size: 1rem 1rem;
	padding: 1rem;

	h2 {
		margin: 0;
	}

	&#original-icons,
	&#redrawn-icons,
	&#unused-icons {
		@media only screen and (max-width: 480px) {
			.media-grid {
				grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
			}
		}

		img {
			width: 8rem;
			height: 8rem;
		}
	}

	&#original-icons {
		--bg-muted-1: var(--blue-bg-1);
		--bg-muted-2: var(--blue-bg-2);
		--fg-muted-1: var(--blue-fg-muted-1);
		--fg-muted-2: var(--blue-fg-muted-2);
		background-color: var(--blue-bg-2);
		color: var(--blue-fg-muted-2);

		h2 {
			color: var(--blue-fg);
		}
	}

	&#redrawn-icons {
		--bg-muted-1: var(--green-bg-1);
		--bg-muted-2: var(--green-bg-2);
		--fg-muted-1: var(--green-fg-muted-1);
		--fg-muted-2: var(--green-fg-muted-2);
		background-color: var(--green-bg-2);
		color: var(--green-fg-muted-2);

		h2 {
			color: var(--green-fg);
		}

		a div:hover {
			img {
				opacity: 0;
			}

			img.before {
				opacity: var(--dim-opacity);
			}
		}

		img.before {
			position: absolute;
			opacity: 0;
			inset-block-start: 0;
			inset-inline-start: 0;
		}
	}

	&#unused-icons {
		--bg-muted-1: var(--red-bg-1);
		--bg-muted-2: var(--red-bg-2);
		--fg-muted-1: var(--red-fg-muted-1);
		--fg-muted-2: var(--red-fg-muted-2);
		background-color: var(--red-bg-2);
		color: var(--red-fg-muted-2);

		h2 {
			color: var(--red-fg);
		}
	}

	&#wallpapers {
		--bg-muted-1: var(--purple-bg-1);
		--bg-muted-2: var(--purple-bg-2);
		--fg-muted-1: var(--purple-fg-muted-1);
		--fg-muted-2: var(--purple-fg-muted-2);
		background-color: var(--purple-bg-2);
		color: var(--purple-fg-muted-2);

		h2 {
			color: var(--purple-fg);
		}
	}

	&#logos {
		--bg-muted-1: var(--yellow-bg-1);
		--bg-muted-2: var(--yellow-bg-2);
		--fg-muted-1: var(--yellow-fg-muted-1);
		--fg-muted-2: var(--yellow-fg-muted-2);
		background-color: var(--yellow-bg-2);
		color: var(--yellow-fg-muted-2);

		h2 {
			color: var(--yellow-fg);
		}

		a div:hover {
			img.mono {
				opacity: 1;
			}
		}

		img {
			background-color: white;

			@media (prefers-color-scheme: dark) {
				background-color: black;
			}
		}

		img.mono {
			position: absolute;
			opacity: 0;
			inset-block-start: 0;
			inset-inline-start: 0;
		}
	}
}

#site-footer {
	-webkit-backdrop-filter: var(--blur);
	backdrop-filter: var(--blur);
	background-color: var(--glass-bg-1);
}
