@media (prefers-color-scheme: dark) {
  .highlight {
    filter: contrast(0.4) saturate(2);
  }
}

/* Code Blocks */
.highlighter-rouge {
  line-height: normal;
  margin: 1rem 0 1rem;
  padding: 2px 1rem;
  border-radius: var(--border-radius-small);
  background-color: var(--bg2);
  max-width: 80vw;
  overflow-x: auto;
  box-shadow: var(--shadow);
}

@media only screen and (max-device-width: 480px) {
  /*mobile*/
  .highlighter-rouge {
    max-width: 90vw;
  }
}

.highlighter-rouge * {
  background-color: transparent;
}

/* Inline Code */
code.highlighter-rouge {
  padding: 2px 6px;
  background-color: var(--fg07);
  color: var(--red-fg);
  box-shadow: none;
}
