* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scrollbar-color: var(--fg50) transparent;
}

body {
  font-size: 16px;
  font-family: "InterVar", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--text);
  background-color: var(--background);
  /* ⇩⇩ put footer at the bottom for short pages, such as the 404 ⇩⇩ */
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto minmax(auto, 1fr) auto; /* header, stuff, footer */
}

@media only screen and (max-device-width: 480px) {
  body {
    font-size: 14px;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: var(--dark5);
  }
}

/* Layout */
.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--content-width);
}

@media only screen and (max-device-width: 480px) {
  /*mobile*/
  .container {
    width: 90%;
  }
}
