/* Navbar */
.nav-container {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--content-width);
}

.nav {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--nav-bg);
  backdrop-filter: blur(24px) saturate(180%);
  -webkit-backdrop-filter: blur(24px) saturate(180%);
  border-bottom: 1px solid var(--fg07);
  box-shadow: var(--shadow);
  overflow: auto;
}

.nav-container {
  margin: 0.5rem auto;
  position: relative;
  text-align: center;
}

.nav-title {
  color: var(--fg50);
  display: inline-block;
  margin: 0;
}

.nav-title:hover {
  text-decoration: underline;
}

.nav ul {
  list-style-type: none;
  margin: 1rem 0 0;
  padding: 0;
  text-align: center;
}

.nav li {
  color: var(--fg50);
  display: inline-block;
}

.nav a {
  display: inline-block;
  font-weight: 900;
  font-size: 90%;
  padding: 0.4rem 1rem;
  border-radius: var(--border-radius);
  background-color: transparent;
  color: var(--fg50);
  /* transition: var(--transition); */
}

.nav a:hover {
  background-color: var(--fg05);
  /* box-shadow: var(--glow); */
}

.nav svg {
  fill: var(--fg50);
  height: 1rem;
  width: 1rem;
  vertical-align: middle;
  transform: translateY(-0.125rem);
}

@media (min-width: 640px) {
  .nav-container {
    text-align: left;
  }

  .nav ul {
    bottom: 0;
    position: absolute;
    right: 0;
  }
}
