/* Statements */
.statement-container {
  margin: 1rem 0 1rem;
  line-height: normal;
}

.statement-container h2 {
  margin: inherit;
}

.archive {
  background-color: var(--purple-bg);
  color: var(--purple-fg);
}

.disclaimer {
  background-color: var(--red-bg);
  color: var(--red-fg);
}

.trigger {
  background-color: var(--yellow-bg);
  color: var(--yellow-fg);
}
