blockquote {
	&.note {
		border-inline-start-color: var(--blue-fg);
		color: var(--blue-fg-muted-2);

		.alert-title,
		li::marker,
		a {
			color: var(--blue-fg);
		}
	}

	&.tip {
		border-inline-start-color: var(--green-fg);
		color: var(--green-fg-muted-2);

		.alert-title,
		li::marker,
		a {
			color: var(--green-fg);
		}
	}

	&.important {
		border-inline-start-color: var(--purple-fg);
		color: var(--purple-fg-muted-2);

		.alert-title,
		li::marker,
		a {
			color: var(--purple-fg);
		}
	}

	&.warning {
		border-inline-start-color: var(--yellow-fg);
		color: var(--yellow-fg-muted-2);

		.alert-title,
		li::marker,
		a {
			color: var(--yellow-fg);
		}
	}

	&.caution {
		border-inline-start-color: var(--red-fg);
		color: var(--red-fg-muted-2);

		.alert-title,
		li::marker,
		a {
			color: var(--red-fg);
		}
	}

	&.edit,
	&.fact {
		border-inline-start-color: var(--fg-muted-2);

		.alert-title,
		li::marker,
		a {
			color: var(--fg-muted-2);
		}
	}

	.alert-title {
		margin-block-end: -0.75rem;
		font-weight: var(--font-weight-semi-bold);

		.ph-bold {
			vertical-align: -1px;
			margin-inline-end: 0.25rem;
		}
	}
}
