main:has(#banner) {
	background: var(--bg-overlay), var(--blurnail), var(--accent-color);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

#banner {
	--mask: linear-gradient(black calc(50% + 2rem), transparent);
	-webkit-mask-image: var(--mask);
	display: flex;
	position: absolute;
	justify-content: center;
	mask-image: var(--mask);
	container: banner / inline-size;
	inset: 0;
	padding-block-start: 4rem;
	height: min(calc((var(--container-width) / 2) + 4rem), calc(50cqw - 4rem));

	@media only screen and (max-width: 720px) {
		height: min(calc((var(--container-width) / 2) + 4rem), calc(50cqw + 3rem));
	}

	img {
		position: fixed;
		margin: 0;
		border-radius: var(--rounded-corner) var(--rounded-corner) 0 0;
		aspect-ratio: 2 / 1;
		width: 100cqw;
		width: min(var(--container-width), calc(100cqw - 2rem));
		object-fit: cover;
	}

	img:nth-of-type(1) {
		z-index: -1;
		filter: blur(4rem);
		animation: banner-glow-load 1.325s;

		@keyframes banner-glow-load {
			from,
			52.5% {
				opacity: 0;
			}
		}
	}

	img:nth-of-type(2) {
		animation: banner-load 0.925s;

		@keyframes banner-load {
			from,
			52.5% {
				transform: var(--hover);
				opacity: 0;
				filter: blur(0.75rem);
			}
		}
	}

	& + .container article > #heading {
		margin-block-start: min(calc(var(--container-width) / 2), calc(50cqw - 8rem));

		@media only screen and (max-width: 720px) {
			margin-block-start: min(calc(var(--container-width) / 2), calc(50cqw - 1rem));
		}
	}
}

#heading {
	margin: 2rem 0 4rem;
	text-align: center;

	h1 {
		margin: 0;
		color: var(--fg-muted-2);
	}

	.details {
		display: flex;
		justify-content: center;
		gap: 0.5rem;
		margin-block-start: 2rem;

		@media only screen and (max-width: 720px) {
			flex-direction: column;
			gap: 0.25rem;
		}

		& > div {
			display: inline-flex;
			align-items: center;
			gap: 0.5rem;
			color: var(--fg-muted-2);
			font-size: var(--font-size-small);
		}

		& > div > span:first-of-type {
			display: inline-flex;
			box-shadow: var(--edge-highlight);
			border-radius: var(--rounded-corner-small);
			background-color: var(--bg-muted-1);
			padding: 0.5rem;
			color: var(--accent-color);
		}

		.ph-bold {
			font-size: 16px;
		}

		&-category {
			a {
				color: inherit;
				font-weight: inherit;
				text-decoration-color: transparent;

				&:hover {
					text-decoration-style: solid;
					text-decoration-color: inherit;
				}
			}
		}

		&-tags {
			.tags {
				margin: 0;
			}
		}
	}
}
