@use "functions" as *;
@import "placeholders";

// Who doesn't like a party popper mid article?
.audio {
	appearance: none;
	transition: all var(--transition), transform var(--transition-bezier);
	cursor: pointer;
	box-shadow: var(--edge-highlight);
	border: none;
	border-radius: var(--rounded-corner-small);
	background-color: var(--bg-muted-1);
	padding: 0.125rem 0.375rem;
	color: var(--accent-color);
	font-weight: var(--font-weight-semi-bold);
	font-size: var(--font-size-medium);

	&:hover {
		background-color: var(--bg-muted-2);

		&::after {
			animation: speaker var(--transition-long) ease-out infinite;

			@keyframes speaker {
				from {
					content: "\e44e";
				}

				50% {
					content: "\e44c";
				}

				to {
					content: "\e44a";
				}
			}
		}
	}

	&:active {
		transform: var(--active);
	}

	&::after {
		@extend %ph-bold;
		vertical-align: rpx(-1);
		opacity: var(--dim-opacity);
		transition: var(--transition);
		margin-inline-start: 0.25rem;
		content: "\e44a";
		font-size: 1rem;
	}
}
