.buttons {
	display: flex;
	justify-content: space-between;
	gap: 0.25rem;
	margin-block-start: 2rem;

	&.centered {
		justify-content: space-around;
	}

	&.start {
		justify-content: flex-start;
	}

	&.end {
		justify-content: flex-end;
	}

	&.big {
		gap: 0.5rem;

		a,
		button {
			border-radius: 999px;
			padding: 0.625rem 1.25rem;
		}
	}

	a {
		text-decoration: none;
	}

	button {
		appearance: none;
		cursor: pointer;
		border: none;
		line-height: inherit;
		font-family: inherit;

		&:disabled {
			cursor: not-allowed;

			&:hover {
				background-color: var(--bg-muted-1);
			}

			&:active {
				transform: none;
			}
		}
	}

	a,
	button {
		display: inline-block;
		transition: all var(--transition), transform var(--transition-bezier);
		box-shadow: var(--edge-highlight);
		border-radius: var(--rounded-corner);
		background-color: var(--bg-muted-1);
		padding: 0.5rem 1rem;
		color: var(--fg-muted-1);
		font-weight: var(--font-weight-semi-bold);
		font-size: var(--font-size-small);

		&:hover {
			background-color: var(--bg-muted-2);
			color: var(--fg-muted-2);
		}

		&:active {
			transform: var(--active);
		}

		&.suggested {
			box-shadow: var(--edge-highlight), var(--shadow-glow);
			background-image: linear-gradient(to bottom right, var(--accent-color), var(--bg-muted-1));
			color: var(--contrast-color);

			&:hover {
				box-shadow: var(--edge-highlight);
				background-color: var(--accent-color);
			}
		}
	}
}
