@use "functions" as *;
@import "placeholders";

.card-list {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-block-start: 2rem;

	&.categories article {
		position: relative;

		&:hover .category-icon {
			transform: translateY(-50%) rotate(-10deg) scale(1.5);
		}

		&.red {
			background-color: var(--red-bg-1);

			h3 {
				color: var(--red-fg);
			}

			.details {
				& > div {
					color: var(--red-fg-muted-2);
				}

				& > div > span:first-of-type {
					background-color: var(--red-bg-1);
					color: var(--red-fg);
				}
			}

			.open-post {
				background-color: var(--red-bg-1);
				color: var(--red-fg);

				&:hover {
					background-color: var(--red-bg-2);
				}
			}

			.category-icon {
				color: var(--red-bg-1);
			}
		}

		&.orange {
			background-color: var(--orange-bg-1);

			h3 {
				color: var(--orange-fg);
			}

			.details {
				& > div {
					color: var(--orange-fg-muted-2);
				}

				& > div > span:first-of-type {
					background-color: var(--orange-bg-1);
					color: var(--orange-fg);
				}
			}

			.open-post {
				background-color: var(--orange-bg-1);
				color: var(--orange-fg);

				&:hover {
					background-color: var(--orange-bg-2);
				}
			}

			.category-icon {
				color: var(--orange-bg-1);
			}
		}

		&.yellow {
			background-color: var(--yellow-bg-1);

			h3 {
				color: var(--yellow-fg);
			}

			.details {
				& > div {
					color: var(--yellow-fg-muted-2);
				}

				& > div > span:first-of-type {
					background-color: var(--yellow-bg-1);
					color: var(--yellow-fg);
				}
			}

			.open-post {
				background-color: var(--yellow-bg-1);
				color: var(--yellow-fg);

				&:hover {
					background-color: var(--yellow-bg-2);
				}
			}

			.category-icon {
				color: var(--yellow-bg-1);
			}
		}

		&.green {
			background-color: var(--green-bg-1);

			h3 {
				color: var(--green-fg);
			}

			.details {
				& > div {
					color: var(--green-fg-muted-2);
				}

				& > div > span:first-of-type {
					background-color: var(--green-bg-1);
					color: var(--green-fg);
				}
			}

			.open-post {
				background-color: var(--green-bg-1);
				color: var(--green-fg);

				&:hover {
					background-color: var(--green-bg-2);
				}
			}

			.category-icon {
				color: var(--green-bg-1);
			}
		}

		&.blue {
			background-color: var(--blue-bg-1);

			h3 {
				color: var(--blue-fg);
			}

			.details {
				& > div {
					color: var(--blue-fg-muted-2);
				}

				& > div > span:first-of-type {
					background-color: var(--blue-bg-1);
					color: var(--blue-fg);
				}
			}

			.open-post {
				background-color: var(--blue-bg-1);
				color: var(--blue-fg);

				&:hover {
					background-color: var(--blue-bg-2);
				}
			}

			.category-icon {
				color: var(--blue-bg-1);
			}
		}

		&.purple {
			background-color: var(--purple-bg-1);

			h3 {
				color: var(--purple-fg);
			}

			.details {
				& > div {
					color: var(--purple-fg-muted-2);
				}

				& > div > span:first-of-type {
					background-color: var(--purple-bg-1);
					color: var(--purple-fg);
				}
			}

			.open-post {
				background-color: var(--purple-bg-1);
				color: var(--purple-fg);

				&:hover {
					background-color: var(--purple-bg-2);
				}
			}

			.category-icon {
				color: var(--purple-bg-1);
			}
		}

		.open-post {
			-webkit-backdrop-filter: var(--blur);
			backdrop-filter: var(--blur);
		}

		.category-icon {
			position: absolute;
			transform: translateY(-50%);
			transition: var(--transition-bezier);
			inset-block-start: 50%;
			inset-inline-end: -3rem;
			font-size: 12rem;
		}
	}

	article {
		display: flex;
		position: relative;
		justify-content: space-between;
		gap: 1rem;
		box-shadow: var(--edge-highlight), var(--shadow);
		border-radius: 1.5rem;
		border-start-start-radius: var(--rounded-corner);
		background-color: var(--bg-muted-1);
		padding: 1rem;
		overflow: hidden;

		&.has-banner {
			--accent-color: var(--post-accent-color);
			--bg-muted-1: rgb(from var(--accent-color) r g b / var(--color-opacity-1));
			--bg-muted-2: rgb(from var(--accent-color) r g b / var(--color-opacity-2));
			--fg-muted-1: color-mix(in srgb, var(--accent-color) 15%, rgb(0 0 0 / 0.5));
			--fg-muted-2: color-mix(in srgb, var(--accent-color) 15%, rgb(0 0 0 / 0.6));
			background-image: var(--bg-overlay), var(--blurnail);
			background-position: center;
			background-size: cover;

			@media (prefers-color-scheme: dark) {
				--accent-color: var(--post-accent-color-dark);
				--fg-muted-1: color-mix(in srgb, var(--accent-color) 15%, rgb(255 255 255 / 0.5));
				--fg-muted-2: color-mix(in srgb, var(--accent-color) 15%, rgb(255 255 255 / 0.6));
			}
		}

		&.draft {
			opacity: var(--dim-opacity);
			filter: grayscale(1);
		}

		& > div {
			flex: 1;

			& > a {
				text-decoration: none;
			}
		}

		h3 {
			margin: 0;
			border-inline-start: 0.25rem solid;
			border-start-start-radius: 0.25rem;
			border-end-start-radius: 0.25rem;
			padding-inline-start: 0.5rem;
			color: var(--accent-color);
			font-weight: var(--font-weight-semi-bold);

			&:hover::after {
				opacity: 1;
			}

			&::after {
				opacity: 0;
				transition: var(--transition);
				content: " →";
			}
		}

		.description p {
			margin-block-end: 0.75rem;
		}

		.details {
			display: flex;
			gap: 0.5rem;
			margin-block-start: 1rem;

			@media only screen and (max-width: 480px) {
				flex-direction: column;
				gap: 0.25rem;
			}

			& > div {
				display: inline-flex;
				align-items: center;
				gap: 0.5rem;
				color: var(--fg-muted-2);
				font-size: var(--font-size-small);

				a {
					color: inherit;
					font-weight: inherit;
					text-decoration-color: transparent;

					&:hover {
						text-decoration-style: solid;
						text-decoration-color: inherit;
					}
				}
			}

			& > div > span:first-of-type {
				display: inline-flex;
				box-shadow: var(--edge-highlight);
				border-radius: var(--rounded-corner-small);
				background-color: var(--bg-muted-1);
				padding: 0.5rem;
				color: var(--accent-color);
			}

			.ph-bold {
				font-size: 1rem;
			}
		}

		.tags-row {
			display: flex;
			align-items: center;
			gap: 0.5rem;
			margin-block-start: 0.5rem;
			border-block-start: rpx(1) solid var(--bg-muted-2);
			padding-block-start: 0.5rem;

			& > span {
				display: inline-flex;
				box-shadow: var(--edge-highlight);
				border-radius: var(--rounded-corner-small);
				background-color: var(--bg-muted-1);
				padding: 0.5rem;
				color: var(--accent-color);
			}

			.tags {
				margin: 0;
			}
		}

		.open-post {
			display: flex;
			justify-content: center;
			align-items: center;
			z-index: 1;
			transition: all var(--transition), transform var(--transition-bezier);
			box-shadow: var(--edge-highlight);
			border-radius: var(--rounded-corner-small);
			background-color: var(--bg-muted-1);
			width: 3rem;
			text-decoration: none;

			&:hover {
				background-color: var(--bg-muted-2);
			}

			&:active {
				transform: var(--active);
			}

			.ph-bold {
				font-size: 1.25rem;
			}
		}
	}
}

#paginator {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.25rem;
	margin-block-start: 4rem;

	#paginator-first,
	#paginator-previous,
	#paginator-next,
	#paginator-last {
		display: inline-block;
		transition: all var(--transition), transform var(--transition-bezier);
		box-shadow: var(--edge-highlight);
		border-radius: 1rem;
		background-color: var(--bg-muted-1);
		padding: 0.5rem;
		color: var(--accent-color);
		line-height: 0;
		text-decoration: none;
	}

	a#paginator-first,
	a#paginator-previous,
	a#paginator-next,
	a#paginator-last {
		&:hover {
			background-color: var(--bg-muted-2);
		}

		&:active {
			transform: var(--active);
			border-radius: 1rem;
		}
	}

	span#paginator-first,
	span#paginator-previous,
	span#paginator-next,
	span#paginator-last {
		opacity: var(--disabled-opacity);
		cursor: not-allowed;
	}

	#paginator-previous {
		border-start-end-radius: var(--rounded-corner-small);
		border-end-end-radius: var(--rounded-corner-small);
	}

	#paginator-next {
		border-start-start-radius: var(--rounded-corner-small);
		border-end-start-radius: var(--rounded-corner-small);
	}

	#paginator-counter {
		display: inline-block;
		transition: var(--transition-bezier);
		box-shadow: var(--edge-highlight);
		border-radius: var(--rounded-corner-small);
		background-color: var(--accent-color);
		padding: 0.25rem 0.5rem;
		color: var(--contrast-color);
		font-weight: var(--font-weight-semi-bold);
		font-variant-numeric: tabular-nums;
	}

	&:has(a#paginator-previous:active) #paginator-counter {
		border-start-start-radius: 1rem;
		border-end-start-radius: 1rem;
	}

	&:has(a#paginator-next:active) #paginator-counter {
		border-start-end-radius: 1rem;
		border-end-end-radius: 1rem;
	}
}
