.container {
	margin: 0 auto;
	width: calc(100% - 2rem);
	max-width: var(--container-width);

	&-fill {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-block-start: -2rem;
		height: calc(100vh - (2.5rem + 1rem));
	}
}
