@import "../../static/phosphor-bold";

a.external::after {
	@extend .ph-bold;
	display:inline-block;
	vertical-align: text-top;
	margin-inline-start: 0.25rem;
	content: "\e5de";
	font-size: max(16px, 1em);
}
