.fancy-list ul {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		border-radius: var(--rounded-corner-small);
		background-color: var(--bg-muted-1);
		padding: 0.5rem 0.75rem;

		&:first-of-type {
			box-shadow: var(--edge-highlight);
			border-radius: var(--rounded-corner) var(--rounded-corner)
				var(--rounded-corner-small) var(--rounded-corner-small);
		}

		&:last-of-type {
			border-radius: var(--rounded-corner-small)
				var(--rounded-corner-small) var(--rounded-corner)
				var(--rounded-corner);
		}
	}
}
