// Geist
@font-face {
	font-style: normal;
	font-weight: 100 900;
	src: url("fonts/geist.woff2") format("woff2");
	font-family: "Geist";
	font-display: swap;
}

// Geist Mono
@font-face {
	font-style: normal;
	font-weight: 100 900;
	src: url("fonts/geist-mono.woff2") format("woff2");
	font-family: "Geist Mono";
	font-display: swap;
}
