#site-header {
	-webkit-backdrop-filter: var(--blur);
	display: flex;
	position: sticky;
	grid-area: header;
	justify-content: space-between;
	align-items: center;
    gap: 0.5rem;
	z-index: 999;
	backdrop-filter: var(--blur);
	margin: 0.5rem;
	inset-block-start: 0.5rem;
	box-shadow: var(--edge-highlight), var(--shadow);
	border-radius: var(--rounded-corner);
	background-color: var(--glass-bg-1);
	padding: 0.25rem;

    &-title {
        display: flex;
        align-items: center;
        gap: 0.5rem;

		.go-to-top {
			text-decoration: none;

			&:hover::after {
				transform: none;
				opacity: 1;
			}

			&::after {
				display: inline-block;
				vertical-align: 1px;
				transform: translateX(-0.25rem);
				opacity: 0;
				transition: all var(--transition), transform var(--transition-bezier);
				content: "| Go to Top ↑";
				color: var(--fg-muted-2);
				font-weight: var(--font-weight-normal);
				font-size: var(--font-size-small);

				@media only screen and (max-width: 720px) {
					display: none;
				}
			}
		}

        .title {
			margin-inline-start: 0.5rem;
            font-size: var(--font-size-medium);
            line-height: 2rem;
        }
    }

	&-buttons {
		display: flex;
		gap: 0.25rem;
	
		summary,
		& > a {
			display: inline-block;
			transition: all var(--transition), transform var(--transition-bezier);
			border-radius: var(--rounded-corner-small);
			padding: 0.5rem;
			color: var(--accent-color);
			line-height: 0;
	
			&:hover {
				box-shadow: var(--edge-highlight);
				background-color: var(--bg-muted-1);
			}
	
			&:active {
				transform: var(--active);
			}
		}

		& > a {
			text-decoration: none;
		}
	
		details {
			position: relative;
			box-shadow: none;
			border-radius: 0;
			background-color: transparent;
			padding: 0;
	
			&[open] summary ~ * {
				transform-origin: top right;
				animation: expand-top-right var(--transition-bezier);
			}
	
			summary {
				box-shadow: none;
				background-color: transparent;

				&::before {
					display: none;
				}
			}
		}
	
		summary + div {
			-webkit-backdrop-filter: var(--blur);
			display: flex;
			position: absolute;
			flex-direction: column;
			z-index: 1;
			backdrop-filter: var(--blur);
			inset-block-start: calc(100% + 0.75rem);
			inset-inline-end: -0.25rem;
			box-shadow: var(--edge-highlight), var(--shadow-glass);
			border-radius: var(--rounded-corner);
			background-color: var(--glass-bg-1);
			padding: 0.75rem 1rem;
			width: calc(var(--container-width) / 3);
			max-height: 50vh;
	
			strong.title {
				border-block-end: var(--bg-muted-2) 1px solid;
				padding-block-end: 0.5rem;
			}
	
			div {
				--mask: linear-gradient(to bottom,
						transparent,
						black 1rem,
						black calc(100% - 1rem),
						transparent);
				-webkit-mask-image: var(--mask);
				flex: 1;
				mask-image: var(--mask);
				margin: 0 -1rem -1rem;
				padding: 1rem;
				padding-block-start: 0;
				overflow: auto;
			}
	
			ol,
			ul {
				margin: 0;
				padding-inline-start: 0.75rem;
				font-size: var(--font-size-small);
	
				&:first-child {
					margin-block-start: 0.5rem;
				}
			}
		}
	}

	label {
		display: none;
		position: relative;
		transition: all var(--transition), transform var(--transition-bezier);
		cursor: pointer;
		border-radius: var(--rounded-corner-small);
		padding: 0.5rem;
		color: var(--accent-color);

		&:hover {
			box-shadow: var(--edge-highlight);
			background-color: var(--bg-muted-1);
		}

		&:active {
			transform: var(--active);
		}

		@media only screen and (max-width: 720px) {
			display: inline-flex;
		}
	}

	label .ph-bold {
		transition: all var(--transition-longer), transform var(--transition-bezier-longer);
	}

	label .ph-x {
		position: absolute;
		transform: rotate(-45deg);
		opacity: 0;
		inset: 0.5rem;
	}

	#toggle-sidebar:checked + label {
		.ph-list {
			transform: rotate(45deg) scaleY(0);
			opacity: 0;
		}

		.ph-x {
			transform: none;
			opacity: 1;
		}
	}
}
