@use "functions" as *;

body:has(#site-sidebar:empty) #toggle-sidebar + label {
	display: none;
}

#site-header {
	display: flex;
	position: sticky;
	grid-area: header;
	justify-content: space-between;
	align-items: center;
    gap: 0.5rem;
	z-index: 999;
	margin: 0.5rem;
	inset-block-start: 0.5rem;
	border-radius: var(--rounded-corner);
	padding: 0.25rem;
	height: fit-content;

	&::before {
		-webkit-backdrop-filter: var(--blur);
		position: absolute;
		z-index: -1;
		backdrop-filter: var(--blur);
		inset: 0;
		box-shadow: var(--edge-highlight), var(--shadow);
		border-radius: inherit;
		background-color: var(--glass-bg-1);
		content: "";
	}

    &-title {
		display: flex;
		flex: 1;

		.back-to-top {
			flex: 1;
			margin-inline-start: 0.5rem;
			width: 0;
			overflow: hidden;
            line-height: 2rem;
			text-decoration: none;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
    }

	&-buttons {
		display: flex;
		gap: 0.25rem;
	
		summary,
		& > a {
			display: inline-block;
			transition: all var(--transition), transform var(--transition-bezier);
			border-radius: var(--rounded-corner-small);
			padding: 0.5rem;
			color: var(--accent-color);
			line-height: 0;
	
			&:hover {
				box-shadow: var(--edge-highlight);
				background-color: var(--bg-muted-1);
			}
	
			&:active {
				transform: var(--active);
			}
		}

		& > a {
			text-decoration: none;
		}
	
		details {
			position: relative;
			box-shadow: none;
			border-radius: 0;
			background-color: transparent;
			padding: 0;
	
			&[open] summary ~ * {
				transform-origin: top right;
				animation: expand-top-right var(--transition-bezier);
			}
	
			summary {
				box-shadow: none;
				background-color: transparent;

				&::before {
					display: none;
				}
			}
		}
	
		summary + div {
			-webkit-backdrop-filter: var(--blur);
			display: flex;
			position: absolute;
			flex-direction: column;
			z-index: 1;
			backdrop-filter: var(--blur);
			inset-block-start: calc(100% + 0.5rem);
			inset-inline-end: 0;
			box-shadow: var(--edge-highlight), var(--shadow-glass);
			border-radius: var(--rounded-corner);
			background-color: var(--glass-bg-1);
			padding: 1rem;
			padding-block-start: 0.75rem;
			width: calc(var(--container-width) / 3);
			max-height: 50cqh;
	
			strong.title {
				border-block-end: var(--bg-muted-2) rpx(1) solid;
				padding-block-end: 0.5rem;
			}
	
			div {
				--mask: linear-gradient(to bottom,
						transparent,
						black 1rem,
						black calc(100% - 1rem),
						transparent);
				-webkit-mask-image: var(--mask);
				flex: 1;
				mask-image: var(--mask);
				margin: 0 -1rem -1rem;
				padding: 1rem;
				padding-block-start: 0;
				overflow: auto;
			}
	
			ol,
			ul {
				margin: 0;
				padding-inline-start: 0.75rem;
				font-size: var(--font-size-small);
	
				&:first-child {
					margin-block-start: 0.5rem;
				}
			}
		}
	}

	label {
		display: none;
		position: relative;
		transition: all var(--transition), transform var(--transition-bezier);
		cursor: pointer;
		border-radius: var(--rounded-corner-small);
		padding: 0.5rem;
		color: var(--accent-color);

		&:hover {
			box-shadow: var(--edge-highlight);
			background-color: var(--bg-muted-1);
		}

		&:active {
			transform: var(--active);
		}

		@media only screen and (max-width: 720px) {
		}
	}

	label .ph-bold {
		transition: all var(--transition-longer), transform var(--transition-bezier-longer);
	}

	#toggle-sidebar + label {
		display: inline-flex;
	}

	@media only screen and (max-width: 720px) {
		#toggle-navbar + label {
			display: inline-flex;
		}
	}

	#toggle-navbar {
		&:checked + label {
			.ph-compass {
				transform: rotate(90deg);
				opacity: 0;
			}
	
			.ph-x-circle {
				transform: none;
				opacity: 1;
			}
		}

		& + label .ph-x-circle {
			position: absolute;
			transform: rotate(-90deg);
			opacity: 0;
			inset: 0.5rem;
		}
	}

	#toggle-sidebar {
		&:checked + label {
			.ph-list-bullets {
				transform: rotate(45deg);
				opacity: 0;
			}
	
			.ph-x {
				transform: none;
				opacity: 1;
			}
		}
		
		& + label .ph-x {
			position: absolute;
			transform: rotate(-45deg);
			opacity: 0;
			inset: 0.5rem;
		}
	}

	// #toggle-focus {
	// 	&:checked + label {
	// 		.ph-eye-closed {
	// 			transform: none;
	// 			opacity: 1;
	// 		}

	// 		.ph-eye {
	// 			transform: translateY(rpx(-1)) rotateX(90deg);
	// 			opacity: 0;
	// 		}
	// 	}

	// 	& + label {
	// 		display: inline-flex;
			
	// 		.ph-eye-closed {
	// 			position: absolute;
	// 			transform: rotateX(-180deg);
	// 			transform-origin: 50% rpx(6);
	// 			opacity: 0;
	// 			inset: 0.5rem;
	// 		}
	// 	}
	// }
}
