#site-nav {
	display: flex;
	position: fixed;
	flex-direction: column;
	gap: 0.25rem;
	z-index: 999;
	inset-block-start: 1rem;
	inset-inline-start: 1rem;

	& > a:first-of-type {
		position: absolute;
		transform: translateX(-50%) translateY(calc(-100% - 1rem));
		transition: all var(--transition), transform var(--transition-bezier);
		inset-inline-start: 50vw;
		border-radius: 999px;
		background-color: var(--glass-bg-1);
		padding: 0.625rem 0.75rem;
		width: max-content;
		line-height: 1;
		text-decoration: none;

		&:focus-visible,
		&:focus {
			-webkit-backdrop-filter: var(--blur);
			transform: translateX(-50%) translateY(0);
			backdrop-filter: var(--blur);
			box-shadow: var(--edge-highlight), var(--shadow);
		}
	}

	#home,
	summary {
		-webkit-backdrop-filter: var(--blur);
		display: flex;
		backdrop-filter: var(--blur);
		transition: all var(--transition), transform var(--transition-bezier);
		box-shadow: var(--edge-highlight), var(--shadow);
		border-radius: var(--rounded-corner);
		background-color: var(--glass-bg-1);
		padding: 0.75rem;
		width: fit-content;
		color: var(--accent-color);

		&:hover {
			background-color: var(--glass-bg-2);
		}

		&:active {
			transform: var(--active);
		}
	}

	#home .icon {
		-webkit-mask-image: var(--icon-home);
		mask-image: var(--icon-home);
	}

	details {
		&[open] {
			box-shadow: none;
			border-radius: 0;
			background-color: transparent;
			padding: 0;

			summary {
				.icon.menu {
					transform: rotate(45deg);
					opacity: 0;
				}

				.icon.close {
					transform: none;
					opacity: 1;
				}

				& ~ * {
					animation: nav-open var(--transition-bezier);
	
					@keyframes nav-open {
						from {
							transform: translate(-1rem, -1rem) scale(0.5);
							opacity: 0;
						}
					}
				}
			}

			& > div {
				-webkit-backdrop-filter: var(--blur);
				transform: none;
				backdrop-filter: var(--blur);
				box-shadow: var(--edge-highlight), var(--shadow-glass);
				background-color: var(--glass-bg-1);
			}
		}

		summary {
			position: relative;
			width: 2.5rem;
			height: 2.5rem;

			.icon {
				position: absolute;
				transition: all var(--transition), transform var(--transition-bezier);
				inset: 0.75rem;

				&.menu {
					-webkit-mask-image: var(--icon-menu);
					mask-image: var(--icon-menu);
				}

				&.close {
					-webkit-mask-image: var(--icon-cross);
					transform: rotate(-45deg);
					opacity: 0;
					mask-image: var(--icon-cross);
				}
			}

			&::before {
				display: none;
			}
		}

		& > div {
			display: flex;
			flex-direction: column;
			transform-origin: top left;
			margin-block-start: 1rem;
			border-radius: 1.625rem 1.625rem 1.75rem 1.75rem;
			padding: 0.5rem;
			width: min(calc(var(--container-width) / 2), calc(100vw - 2rem));
			max-height: calc(100vh - 132px);

			&:has(#search-results .item) {
				border-radius: 1.625rem 1.625rem 1.25rem 1.25rem;
			}
		}

		nav ul {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 0.25rem;
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				padding: 0;
			}

			a {
				display: flex;
				transition: all var(--transition), transform var(--transition-bezier);
				box-shadow: var(--edge-highlight);
				border-radius: 999px;
				background-color: var(--bg-muted-1);
				padding: 0.625rem 0.75rem;
				line-height: 1;
				text-decoration: none;

				&:hover {
					background-color: var(--bg-muted-2);
				}

				&:active {
					transform: var(--active);
				}

				&.active {
					background-color: var(--accent-color);
					color: var(--contrast-color);
				}
			}
		}

		#search-bar {
			flex-shrink: 0;
			margin-block-start: 1rem;
			box-shadow: var(--edge-highlight);
			border: none;
			border-radius: 999px;
			background: var(--bg-muted-1);
			padding: 0 1rem;
			width: 100%;
			height: 2.5rem;
			color: inherit;
			font-size: inherit;

			&::placeholder {
				opacity: 1;
				color: var(--fg-muted-1);
			}
		}

		#search-results {
			--mask: linear-gradient(to bottom,
					transparent,
					black 1rem,
					black calc(100% - 0.5rem),
					transparent);
			-webkit-mask-image: var(--mask);
			display: none;
			flex: 1;
			flex-direction: column;
			gap: 0.5rem;
			mask-image: var(--mask);
			margin: 0 -0.5rem -0.5rem;
			padding: 1rem 0.5rem 0.5rem;
			overflow: auto;

			.item {
				display: inline-flex;
				flex-direction: column;
				box-shadow: var(--edge-highlight);
				border-radius: var(--rounded-corner);
				background-color: var(--bg-muted-1);
				padding: 1rem;

				a {
					width: fit-content;
					line-height: 1;

					&::after {
						content: " →";

						:root[dir*="rtl"] & {
							content: " ←";
						}
					}
				}

				span {
					color: var(--fg-muted-2);

					&:first-of-type,
					&.more-matches {
						margin-block-start: 0.75rem;
						border-block-start: max(1px, 0.0625rem) solid var(--bg-muted-2);
						padding-block-start: 0.25rem;
					}

					&.more-matches {
						font-size: var(--font-size-small);
					}

					strong {
						color: var(--fg-color);
					}
				}
			}
		}
	}
}
