#site-nav {
	display: flex;
	position: fixed;
	flex-direction: column;
	gap: 0.25rem;
	z-index: 999;
	inset-block-start: 1rem;
	inset-inline-start: 1rem;

	&::before {
		--mask: radial-gradient(circle at top left, black 50%, transparent);
		-webkit-mask-image: var(--mask);
		position: absolute;
		z-index: -1;
		mask-image: var(--mask);
		transition: var(--transition);
		inset-block-start: -1rem;
		inset-inline-start: -1rem;
		width: 100vw;
		height: 100vh;
		pointer-events: none;
		content: "";
	}

	&:has(details[open]) {
		&::before {
			-webkit-backdrop-filter: var(--blur);
			backdrop-filter: var(--blur);
			background-color: var(--glass-bg);
			pointer-events: all;
		}

		#home,
		summary {
			-webkit-backdrop-filter: none;
			backdrop-filter: none;
			box-shadow: var(--edge-highlight);
			background-color: var(--bg-muted-1);
		}
	}

	#home,
	summary {
		-webkit-backdrop-filter: var(--blur);
		display: flex;
		backdrop-filter: var(--blur);
		transition: all var(--transition), transform var(--transition-bezier);
		box-shadow: var(--edge-highlight), var(--shadow);
		background-color: var(--glass-bg);
		padding: 0.625rem;
		width: fit-content;
		color: var(--accent-color);

		&:hover {
			background-color: var(--bg-muted-2);
		}

		&:active {
			transform: var(--active);
			border-radius: 1.125rem;
		}
	}

	#home {
		border-radius: 1.125rem 1.125rem var(--rounded-corner-small) var(--rounded-corner-small);

		.icon {
			-webkit-mask-image: var(--icon-home);
			mask-image: var(--icon-home);
		}
	}

	details {
		&[open] {
			box-shadow: none;
			border-radius: 0;
			background-color: transparent;
			padding: 0;

			summary {
				position: relative;
				box-shadow: var(--edge-highlight);
				border-radius: var(--rounded-corner-small) var(--rounded-corner-small) 1.125rem 1.125rem;
				padding: 0.625rem;

				.icon.menu {
					transform: rotate(45deg);
					opacity: 0;
				}

				.icon.close {
					transform: none;
					opacity: 1;
				}
			}
		}

		summary {
			border-radius: var(--rounded-corner-small) var(--rounded-corner-small) 1.125rem 1.125rem;
			width: 2.25rem;
			height: 2.25rem;

			.icon {
				position: absolute;
				transition: all var(--transition), transform var(--transition-bezier);
				inset: 0.625rem;

				&.menu {
					-webkit-mask-image: var(--icon-menu);
					mask-image: var(--icon-menu);
				}

				&.close {
					-webkit-mask-image: var(--icon-cross);
					transform: rotate(-45deg);
					opacity: 0;
					mask-image: var(--icon-cross);
				}
			}

			&::before {
				display: none;
			}
		}

		& > div {
			display: flex;
			flex-direction: column;
			margin-block-start: 1rem;
			width: min(calc(var(--container-width) / 2), calc(100vw - 2rem));
			height: calc(100vh - 108px);
		}

		nav ul {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 0.25rem;
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				margin: 0;
				padding: 0;
			}

			a {
				display: flex;
				transition: all var(--transition), transform var(--transition-bezier);
				box-shadow: var(--edge-highlight);
				border-radius: 999px;
				background-color: var(--bg-muted-1);
				padding: 0.625rem 0.75rem;
				line-height: 1;
				text-decoration: none;

				&:hover {
					background-color: var(--bg-muted-2);
				}

				&:active {
					transform: var(--active);
				}

				&.active {
					background-color: var(--accent-color);
					color: var(--contrast-color);
				}
			}
		}

		#search-bar {
			margin-block-start: 1rem;
			box-shadow: var(--edge-highlight);
			border: none;
			border-radius: 999px;
			background: var(--bg-muted-1);
			padding: 0 0.75rem;
			width: 100%;
			height: 2.25rem;
			color: inherit;
			font-size: inherit;

			&::placeholder {
				opacity: 1;
				color: var(--fg-muted-1);
			}
		}

		#search-results {
			--mask: linear-gradient(to bottom,
					transparent,
					black 1rem,
					black calc(100% - 16rem),
					transparent);
			-webkit-mask-image: var(--mask);
			display: none;
			flex: 1;
			flex-direction: column;
			gap: 0.5rem;
			mask-image: var(--mask);
			margin: 0 -0.5rem;
			padding: 1rem 0.5rem;
			overflow: auto;

			.item {
				display: inline-flex;
				flex-direction: column;
				box-shadow: var(--edge-highlight);
				border-radius: var(--rounded-corner);
				background-color: var(--bg-muted-1);
				padding: 1rem;

				&:last-of-type {
					margin-block-end: 16rem;
				}

				a {
					width: fit-content;
					line-height: 1;

					&::after {
						content: " →";

						:root[dir*="rtl"] & {
							content: " ←";
						}
					}
				}

				span {
					color: var(--fg-muted-2);

					&:first-of-type,
					&.more-matches {
						margin-block-start: 0.75rem;
						border-block-start: max(1px, 0.0625rem) solid var(--bg-muted-2);
						padding-block-start: 0.25rem;
					}

					&.more-matches {
						font-size: var(--font-size-small);
					}

					strong {
						color: var(--fg-color);
					}
				}
			}
		}
	}
}
