.overshoot {
	--mask: linear-gradient(to bottom,
			transparent,
			black 1rem,
			black calc(100% - 1rem),
			transparent);
	-webkit-mask-image: var(--mask);
	mask-image: var(--mask);

	&-row {
		--mask: linear-gradient(to right,
				transparent,
				black 1rem,
				black calc(100% - 1rem),
				transparent);
		-webkit-mask-image: var(--mask);
		mask-image: var(--mask);
	}
}
