.pre-container {
	margin: 1rem 0 1rem;
	box-shadow: var(--edge-highlight), var(--shadow);
	border-radius: var(--rounded-corner);

	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-radius: var(--rounded-corner) var(--rounded-corner) 0 0;
		background-image: linear-gradient(
			to right,
			var(--bg-muted-1) 50%,
			var(--bg-muted-2) 75%,
			var(--bg-muted-1) 100%
		);
		background-size: 200%;
		padding: 0.25rem;
		height: 2.5rem;

		span {
			margin-inline-start: 0.75rem;
			color: var(--accent-color);
			font-weight: var(--font-weight-semi-bold);
		}

		button {
			position: relative;
			appearance: none;
			transition: all var(--transition), transform var(--transition-bezier);
			cursor: pointer;
			border: none;
			border-radius: var(--rounded-corner-small);
			background-color: transparent;
			padding: 0.5rem;
			color: var(--accent-color);
			line-height: 0;

			&:hover {
				box-shadow: var(--edge-highlight);
				background-color: var(--bg-muted-1);
				// color: var(--fg-muted-2);
			}

			&:active {
				transform: var(--active);
			}

			&:disabled {
				cursor: not-allowed;

				&:active {
					transform: none;
				}
			}

			.ph-bold {
				display: inline-block;
				transition: all var(--transition-longer), transform var(--transition-bezier-longer);
				font-size: 16px;
			}

			.ph-copy {
				transform-origin: bottom left;
			}

			.ph-check-square-offset {
				position: absolute;
				transform: scale(0.5);
				transform-origin: top right;
				opacity: 0;
				inset: 0.5rem;
			}
		}

		&.active {
			animation: active-shimmer var(--transition-long);

			button {
				box-shadow: var(--edge-highlight);
				background-color: var(--bg-muted-1);
				color: var(--accent-color);

				.ph-copy {
					transform: scale(0.5);
					opacity: 0;
				}

				.ph-check-square-offset {
					transform: none;
					opacity: 1;
				}
			}

			@keyframes active-shimmer {
				to {
					background-position-x: -200%;
				}
			}
		}
	}

	pre {
		margin: 0;
		box-shadow: none;
		border-radius: 0 0 var(--rounded-corner) var(--rounded-corner);
	}
}
