// Why not, why shouldn't I use rainbow text
.rainbow {
	-webkit-background-clip: text;
	filter: drop-shadow(max(1px, 0.0625em) max(1px, 0.0625em) rgb(0 0 0 / 0.6));
	background-image: linear-gradient(
		to right,
		var(--monokai-red),
		var(--monokai-orange),
		var(--monokai-yellow),
		var(--monokai-green),
		var(--monokai-blue),
		var(--monokai-purple)
	);
	background-clip: text;
	color: transparent;
}
