@use "functions" as *;

@media only screen and (max-width: 720px) {
	body:has(#toggle-navbar:checked) #site-navbar {
		-webkit-backdrop-filter: var(--blur);
		transform: none;
		backdrop-filter: var(--blur);
		box-shadow: var(--edge-highlight), var(--shadow);
	}
}

body:has(#toggle-sidebar:checked) #site-sidebar {
	transform: none;

	& > div {
		-webkit-backdrop-filter: var(--blur);
		backdrop-filter: var(--blur);
		box-shadow: var(--edge-highlight), var(--shadow);
	}
}

#site-navbar,
#site-sidebar {
	display: flex;
	position: sticky;
	flex-direction: column;
	z-index: 999;
	transition: all var(--transition), transform var(--transition-bezier);
	margin: 0.5rem;
	inset-block-start: 0.5rem;
	width: clamp(14rem, 20vw, calc(var(--container-width) / 2));

	.category {
		display: flex;
		align-items: baseline;
		gap: 0.5rem;
		padding: 0.25rem 0;

		.title {
			display: flex;
			flex-shrink: 0;
			color: var(--fg-muted-1);
			font-weight: var(--font-weight-normal);
			font-size: var(--font-size-small);
		}

		.line {
			flex: 1;
			background-color: var(--bg-muted-2);
			height: rpx(1);
		}
	}
}

#site-navbar {
	grid-area: navbar;
	margin-inline-end: 0;
	box-shadow: var(--edge-highlight), var(--shadow);
	border-radius: var(--rounded-corner);
	background-color: var(--glass-bg-1);
	padding: 1rem;
	height: calc(100dvh - 1rem);

	@media only screen and (max-width: 720px) {
		position: fixed;
		transform: translateX(calc(-100% - 0.5rem));
		inset-block-start: calc(2.5rem + 0.5rem);
		box-shadow: none;
		height: calc(100dvh - (2.5rem + 1.5rem));
	}

	#search {
		display: flex;
		position: relative;
		flex-direction: column;
		margin-block-end: 2rem;
		max-height: calc(50dvh - 2.5rem);

		&:has(#search-bar:not(:placeholder-shown)) .ph-bold {
			transform: translateX(0.5rem);
			opacity: 0;
			pointer-events: none;
		}

		.ph-bold {
			position: absolute;
			opacity: var(--disabled-opacity);
			transition: all var(--transition), transform var(--transition-bezier);
			cursor: help;
			inset-block-start: 0.75rem;
			inset-inline-end: 1rem;
			color: var(--fg-muted-2);
		}

		#search-bar {
			flex-shrink: 0;
			box-shadow: var(--edge-highlight);
			border: none;
			border-radius: 999px;
			background: var(--bg-muted-1);
			padding: 0 1rem;
			width: 100%;
			height: 2.5rem;
			color: inherit;
			font-size: inherit;

			&::placeholder {
				opacity: 1;
				color: var(--fg-muted-1);
			}
		}

		#search-results {
			display: none;
			flex-direction: column;
			gap: 0.5rem;
			margin: 0 -1rem -2rem;
			padding: 1rem;
			overflow: auto;

			.item {
				display: inline-flex;
				flex-direction: column;
				box-shadow: var(--edge-highlight);
				border-radius: var(--rounded-corner);
				background-color: var(--bg-muted-1);
				padding: 0.75rem 1rem;

				a {
					text-decoration: none;

					&::after {
						content: " →";
					}
				}

				span {
					margin-block-start: 0.25rem;
					border-block-start: rpx(1) solid var(--bg-muted-2);
					padding-block-start: 0.25rem;
					color: var(--fg-muted-2);

					strong {
						color: var(--fg-color);
					}
				}
			}
		}
	}

	nav {
		flex: 1;
		margin: -1rem;
		margin-block-start: -2rem;
		padding: 1rem;
		padding-block-start: 2rem;
		overflow-y: auto;

		ul {
			display: flex;
			flex-direction: column;
			gap: 0.25rem;
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				display: flex;
				padding: 0;

				a {
					flex: 1;
					transition: all var(--transition), transform var(--transition-bezier);
					border-radius: 999px;
					padding: 0.375rem 0.75rem;
					text-decoration: none;

					&:hover {
						box-shadow: var(--edge-highlight);
						background-color: var(--bg-muted-1);
					}

					&:active {
						transform: var(--active);
					}

					&.active {
						box-shadow: var(--edge-highlight), var(--shadow-glow);
						background-image: linear-gradient(to bottom right, var(--accent-color), var(--bg-muted-1));
						color: var(--contrast-color);

						&:hover {
							box-shadow: var(--edge-highlight);
							background-color: var(--accent-color);
						}
					}

					.ph-bold {
						vertical-align: text-top;
						margin-inline-end: 0.5rem;
						font-size: 1.25rem;
					}
				}
			}
		}
	}
}

#site-sidebar {
	display: flex;
	position: fixed;
	grid-area: sidebar;
	flex-direction: column;
	gap: 0.5rem;
	transform: translateX(calc(100% + 0.5rem));
	margin-inline-start: 0;
	inset-block-start: calc(2.5rem + 0.5rem);
	inset-inline-end: 0;
	max-height: calc(100dvh - (2.5rem + 1.5rem));

	&:empty {
		display: none;
	}

	& > div {
		display: flex;
		flex-shrink: 1;
		flex-direction: column;
		box-shadow: var(--edge-highlight), var(--shadow);
		border-radius: var(--rounded-corner);
		background-color: var(--glass-bg-1);
		padding: 1rem;
		padding-block-start: 0.25rem;
		min-height: 0;
	}

	ul {
		padding-inline-start: 1rem;
		font-size: var(--font-size-small);
	}

	.overshoot {
		flex: 1;
		margin: -1rem;
		margin-block-start: -0.75rem;
		padding: 1rem;
		padding-block-start: 0.75rem;
		overflow-y: auto;

		& > ul {
			margin: 0;
		}
	}

	.details {
		display: flex;
		flex-shrink: 0;
		flex-direction: column;
		gap: 0.25rem;

		& > div:not(.category) {
			display: inline-flex;
			align-items: center;
			gap: 0.5rem;
			color: var(--fg-muted-2);
			font-size: var(--font-size-small);
		}

		& > div > span:first-of-type {
			display: inline-flex;
			box-shadow: var(--edge-highlight);
			border-radius: var(--rounded-corner-small);
			background-color: var(--bg-muted-1);
			padding: 0.5rem;
			color: var(--accent-color);
		}

		.ph-bold {
			font-size: 1rem;
		}

		&-category {
			a {
				color: inherit;
				font-weight: inherit;
				text-decoration-color: transparent;

				&:hover {
					text-decoration-style: solid;
					text-decoration-color: inherit;
				}
			}
		}

		&-tags {
			align-items: flex-start !important;

			.tags {
				margin-inline-end: 0;
				margin-block-start: 0.1875rem;
				padding-inline-start: 0;
			}
		}
	}
}
