.tags {
	display: flex;
	flex-wrap: wrap;
	gap: 0.25rem;
	margin: 0;
	margin-block-start: 2rem;
	padding: 0;
	list-style: none;

	li {
		display: flex;
		padding: 0;
	}

	a {
		transition: all var(--transition), transform var(--transition-bezier);
		box-shadow: var(--edge-highlight);
		border-radius: 13px;
		background-color: var(--bg-muted-1);
		padding: 1px 0.75rem;
		color: var(--fg-muted-1);
		font-size: var(--font-size-small);
		text-decoration: none;
		// white-space: nowrap;

		&:hover {
			background-color: var(--bg-muted-2);
			color: var(--fg-muted-2);
			text-decoration: none;

			.count {
				background-color: var(--bg-muted-2);
				color: var(--fg-muted-2);
			}
		}

		&:active {
			transform: var(--active);
		}

		&:has(.tag) {
			padding: 0;
		}

		.tag {
			display: inline-block;
			padding: 1px 0.5rem 1px 0.75rem;
		}

		.count {
			display: inline-block;
			transition: var(--transition);
			border-radius: 0 999px 999px 0;
			background-color: var(--bg-muted-1);
			padding: 1px 0.625rem 1px 0.5rem;
			font-variant-numeric: tabular-nums;
		}
	}
}
