h1,
h2,
h3,
h4,
h5,
h6 {
	&:hover .zola-anchor {
		transform: none;
		opacity: 1;
	}
}

.zola-anchor {
	position: absolute;
	transform: translateX(0.5rem);
	opacity: 0;
	transition: var(--transition);
	margin-inline-start: calc(-1em + -0.5rem);
	color: var(--fg-muted-1);
	line-height: 1;

	@media only screen and (max-width: 720px) {
		display: none;
	}

	&:hover {
		color: var(--fg-muted-2);
	}

	&:active {
		transform: var(--active);
	}

	&:focus-visible {
		opacity: 1;
	}
}

:target .zola-anchor {
	color: var(--bg-muted-1);
}
