{% extends "base.html" %}

{% block content %}
{%- set categories = config.extra.categories | default(value=[]) -%}

<h1>Categories</h1>

<p>
	<small>{{ terms | length }} categor{{ terms | length | pluralize(singular="y", plural="ies") }} in total.</small>
</p>

<div class="card-list categories">
	{%- for category in terms -%}
		{%- set matched_category = categories | filter(attribute="name", value=category.name) | first -%}
		{%- set category_description = matched_category.description | default(value="There's no info on this category. Boo-womp.") -%}

		<article {% if matched_category.color %}class="{{ matched_category.color }}"{% endif %}>
			<div>
				<a href="{{ get_taxonomy_url(kind='categories', name=category.name) }}">
					<h3>{{ category.name }}</h3>
				</a>
				<div class="description">
					{{- category_description | markdown | safe -}}
				</div>
				<div class="details">
					<div class="details-count">
						<span>
							<i class="ph-bold ph-newspaper"></i>
						</span>
						<span>{{ category.page_count }} post{{ category.page_count | pluralize }}</span>
					</div>
				</div>
			</div>
			<a class="open-post" href="{{ get_taxonomy_url(kind='categories', name=category.name) }}">
				<i class="ph-bold ph-caret-right"></i>
			</a>

			{%- if matched_category.icon -%}
				<i class="category-icon ph-bold ph-{{ matched_category.icon }}"></i>
			{%- endif -%}
		</article>
	{%- endfor -%}
</div>
{% endblock content %}
