{% extends "base.html" %}

{% block content %}
{%- set categories = config.extra.categories | default(value=[]) -%}

<h1>{{ term.name }} Posts</h1>

{%- set matched_category = categories | filter(attribute="name", value=term.name) | first -%}
{%- set category_description = matched_category.description | default(value="There's no info on this category. Boo-womp.") -%}
{{ category_description | markdown | safe }}

<p>
	<small>
		<a href="{{ get_url(path='categories') }}">See all categories</a>
		<br />
		{{ term.pages | length }} post{{ term.pages | length | pluralize }} in total.
	</small>
</p>

{% include "partials/articles.html" %}
{% endblock content %}

{% block actions %}
<a href="{{ current_url ~ 'atom.xml' }}" title="Feed"><i class="ph-bold ph-rss-simple"></i></a>
{% endblock actions %}
