x3d {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

#disclaimer {
	position: absolute;
	margin: 0;
	margin-inline-start: 0.5rem;
	margin-block-end: 0.5rem;
	inset-block-end: 0;
	inset-inline-start: 0;
	line-height: 1;
}
