<aside id="badges">
	<strong class="title">Badges</strong>
	<p>
		<small><abbr title="Also Known As">AKA</abbr> 88x31 buttons</small>
	</p>
	<div class="marquee-wrapper">
		<div class="marquee">
			<ul style="--duration: {{ page.extra.buttons | length * 2 }}s">
				{% for button in page.extra.buttons %}
					<li>
						<a href="{{ button.url }}">
							<img
								class="pixels transparent no-hover"
								alt="{{ button.name | trim_end_matches(pat='.gif') }}"
								src="buttons/{{ button.name }}"
							/>
						</a>
					</li>
				{% endfor %}
				<li>
					<iframe id="increment" src="https://incr.easrng.net/badge?key={{ config.base_url | replace(from='https://', to='') }}" title="increment badge"></iframe>
				</li>
			</ul>
			<ul style="--duration: {{ page.extra.buttons | length * 2 }}s" aria-hidden="true">
				{% for button in page.extra.buttons %}
					<li>
						<a href="{{ button.url }}">
							<img
								class="pixels transparent no-hover"
								alt="{{ button.name | trim_end_matches(pat='.gif') }}"
								src="buttons/{{ button.name }}"
							/>
						</a>
					</li>
				{% endfor %}
				<li>
					<iframe id="increment" src="https://incr.easrng.net/badge?key={{ config.base_url | replace(from='https://', to='') }}" title="increment badge"></iframe>
				</li>
			</ul>
		</div>
	</div>
	<div id="badges-neocities">
		<hr />
		<p>
			<small>The rest is on my Neocities site; it includes all the badges present here, plus lots of fun ones, and even some stamps!</small>
		</p>
		<div class="buttons centered">
			<a class="big external" href="https://daudix.neocities.org">Neocities Site</a>
		</div>
	</div>
	<input type="checkbox" id="badges-expand" class="visually-hidden" />
	<label for="badges-expand" title="Expand"><i class="icon"></i></label>
	<details id="badges-bottom-sheet">
		<summary title="Link to Me"><i class="icon"></i></summary>
		<div>
			<div>
				<p>
					If you want to link back to me, use one of these buttons:
				</p>
				<p>
					<img class="pixels transparent no-hover" alt="daudix" src="buttons/daudix.gif" />
					<img class="pixels transparent no-hover" alt="daudix-alt" src="buttons/daudix-alt.gif" />
				</p>
				<blockquote class="note">
					<p class="alert-title">
						<i class="icon"></i>
						Note
					</p>
					<p>
						It’s recommended to avoid hot-linking; instead, place a copy on your own site.
					</p>
				</blockquote>
			</div>
		</div>
	</details>
	<div id="here"></div>
</aside>
