<aside id="badges">
	<strong class="title">Badges</strong>
	<p>
		<small><abbr title="Also Known As">AKA</abbr> 88x31 buttons</small>
	</p>
	<input type="checkbox" id="badges-expand" class="visually-hidden" />
	<label for="badges-expand" title="Expand"><i class="icon"></i></label>
	<details id="badges-popup" class="closable">
		<summary title="Link to Me"><i class="icon"></i></summary>
		<div>
			<div>
				<p>
					If you'd like to link to me, use the following badge:
				</p>
				<p>
					<img class="pixels transparent no-hover" alt="daudix" src="{{ get_url(path='home/badges/daudix.gif') }}" />
				</p>
				<blockquote class="note">
					<p class="alert-title">
						<i class="icon"></i>
						Note
					</p>
					<p>
						It’s recommended to hotlink it, as it changes its design from time to time.
					</p>
				</blockquote>
			</div>
		</div>
	</details>
	<div class="marquee-wrapper">
		<div class="marquee">
			<ul style="--duration: {{ page.extra.badges | length * 2 }}s">
				{% for badge in page.extra.badges %}
					<li>
						<a href="{{ badge.url }}">
							<img
								class="pixels transparent no-hover"
								alt="{{ badge.name | trim_end_matches(pat='.gif') }}"
								{% set badge_url = "home/badges/" ~ badge.name %}
								src="{{ get_url(path=badge_url) }}"
							/>
						</a>
					</li>
				{% endfor %}
				<li>
					<iframe id="increment" src="https://incr.easrng.net/badge?key={{ config.base_url | replace(from='https://', to='') }}" title="increment badge"></iframe>
				</li>
			</ul>
			<ul style="--duration: {{ page.extra.badges | length * 2 }}s" aria-hidden="true">
				{% for badge in page.extra.badges %}
					<li>
						<a href="{{ badge.url }}">
							<img
								class="pixels transparent no-hover"
								alt="{{ badge.name | trim_end_matches(pat='.gif') }}"
								{% set badge_url = "home/badges/" ~ badge.name %}
								src="{{ get_url(path=badge_url) }}"
							/>
						</a>
					</li>
				{% endfor %}
				<li>
					<iframe id="increment" src="https://incr.easrng.net/badge?key={{ config.base_url | replace(from='https://', to='') }}" title="increment badge"></iframe>
				</li>
			</ul>
		</div>
	</div>
	<div id="badges-neocities">
		<hr />
		<p>
			<small>The rest is on my Neocities site; it includes all the badges not present here, and even some stamps!</small>
		</p>
		<div class="buttons centered">
			<a class="big external" href="https://daudix.neocities.org">Neocities Site</a>
		</div>
	</div>
	<div id="here"></div>
</aside>
