{% import "macros/macros.html" as macros %}

<div class="beeper-top">
  <div class="buttons start beeper-volume">
    <button id="beeper-volume-up" title="Volume Up">
      {{- macros::icon(name="plus") -}}
    </button>
    <button id="beeper-volume-down" title="Volume Down">
      {{- macros::icon(name="minus") -}}
    </button>
    <div id="beeper-volume-level"></div>
  </div>
  <div class="beeper-display">
    <noscript>JavaScript is off, beeper no<br />worky with no JavaScript :[</noscript>
  </div>
  <div id="beeper-speaker-grille"></div>
</div>
<div class="buttons start beeper-actions">
  <button id="send-beep" title="Send Beep">
    {{- macros::icon(name="circle") -}}
  </button>
  <button id="send-beep-long" title="Send Long Beep">
    {{- macros::icon(name="minus") -}}
  </button>

  <input type="checkbox" id="beeper-real-time" class="switch big" autocomplete="off" />
  <label for="beeper-real-time" title="Real-Time Mode">{{ macros::icon(name="broadcast") }}</label>
  <div id="beeper-countdown"></div>
</div>
<span class="beeper-logo">Beep-o-matic 3000</span>
<input type="checkbox" id="beeper-popup-expand" class="visually-hidden" autocomplete="off" />
<label for="beeper-popup-expand" title="What Is This?">
  {{- macros::icon(name="question") -}}
  {{- macros::icon(name="x-circle") -}}
</label>
<div id="beeper-popup">

Make my server (old PC) on which this site resides beep via its onboard tiny speaker in real time.

Activate <span class="real-time">{{ macros::icon(name="broadcast") }} Real-Time Mode</span> to listen to other users' beeps at the expense of increased network usage.
</div>
