<div id="polaroid">
	<div id="polaroid-shine"></div>
	<div id="polaroid-photo">
		<img class="full transparent no-hover" src="rainbow-grayscale.svg" alt="My avatar, letter D filled with grayscale stripes." />
		<img class="full transparent no-hover" alt="My avatar, letter D filled with rainbow stripes." src="rainbow.svg" />
	</div>
	<span id="polaroid-title">Instant photo<br />format</span>
	<span id="statuscafe-content"></span>
	<a id="statuscafe-link" href="https://status.cafe/users/daudix">
		<span id="statuscafe-time-ago"></span>
		<span id="statuscafe-face"></span>
	</a>
</div>
