@use "../../themes/ametrine/sass/abstracts/functions" as *;

.games {
	ul {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}

	li {
		display: flex;
		box-shadow: none !important;
		border-radius: 0 !important;
		background-color: transparent !important;
		padding: 0 !important;
	}

	img {
		border-radius: 0.25rem;
		// Some non-decimal dimensions:
		// 120x45
		// 128x48
		// 112x42
		// 104x39
		// 96x36
		width: rpx(96);
		height: rpx(36);

		&:hover {
			transform: scale(1.5);
			filter: var(--drop-shadow);
			border-radius: 0.25rem;
		}

		&:active {
			transform: var(--active);
		}
	}
}
