.masonry {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	margin-block-start: 2rem;

	.column {
		display: flex;
		flex: 1;
		flex-direction: column;
		gap: 0.5rem;
		min-width: 16rem;
	}

	.item {
		box-shadow: var(--edge-highlight), var(--shadow);
		border-radius: var(--rounded-corner);
		background-color: var(--bg-muted-1);
		padding: 1rem;

		:first-child {
			margin-block-start: 0;
		}

		:last-child {
			margin-block-end: 0;
		}
	}
}
