#online-indicator {
	box-shadow: var(--edge-highlight);
	border-radius: var(--rounded-corner-small);
	background-color: var(--bg-muted-1);
	padding: 0.125rem 0.375rem;
	color: var(--fg-muted-2);
	font-weight: var(--font-weight-semi-bold);

	&.online {
		background-color: var(--green-bg-1);
		color: var(--green-fg);
	}

	&.idle {
		background-color: var(--yellow-bg-1);
		color: var(--yellow-fg);
	}

	&.dnd {
		background-color: var(--red-bg-1);
		color: var(--red-fg);
	}

	&.offline {
		background-color: var(--bg-muted-1);
		color: var(--fg-muted-2);
	}
}
