.fancy-list.snug-nook {
	position: relative;
	transition: all var(--transition), transform var(--transition-bezier);
	background-color: var(--orange-bg-1);

	&:hover {
		background-color: var(--orange-bg-2);
	}

	&:active {
		transform: var(--active);
	}

	.title {
		color: var(--orange-fg);
	}

	.icon {
		position: absolute;
		inset-block-start: 1rem;
		inset-inline-end: 1rem;
		color: var(--orange-fg);
		font-size: 1.25rem;
	}

	a {
		position: absolute;
		z-index: 1;
		inset: 0;
		border-radius: inherit;
	}

	p:last-of-type {
		margin-inline-end: 3rem;
		margin-block-end: 0;
	}

	img {
		position: absolute;
		transform: rotate(10deg);
		margin: 0;
		inset-block-end: -0.5rem;
		inset-inline-end: -0.5rem;
		width: 4rem;
		height: 4rem;
		pointer-events: none;
		user-select: none;
		-webkit-user-select: none;
	}
}
