:root {
	--primary-color: #c061cb;
	--primary-color-alpha: rgba(192, 97, 203, 0.2);

	--bg-color: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
	--fg-color: rgba(0, 0, 0, 0.8);
	--fg-muted-1: rgba(0, 0, 0, 0.05);
	--fg-muted-2: rgba(0, 0, 0, 0.1);
	--fg-muted-3: rgba(0, 0, 0, 0.2);
	--fg-muted-4: rgba(0, 0, 0, 0.5);
	--fg-muted-5: rgba(0, 0, 0, 0.6);

	--edge-highlight: inset 0 1px 0 rgba(255, 255, 255, 0.1);
	--rounded-corner: 12px;
	--shadow: 0 0 0 1px rgba(0, 0, 0, 0.03), 0 1px 3px 1px rgba(0, 0, 0, 0.07), 0 2px 6px 2px rgba(0, 0, 0, 0.03);

	--font-system-ui: system-ui, sans-serif;
	--font-emoji: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

	@media (prefers-color-scheme: dark) {
		--bg-color: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
		--fg-color: rgb(255, 255, 255);
		--fg-muted-1: rgba(255, 255, 255, 0.05);
		--fg-muted-2: rgba(255, 255, 255, 0.1);
		--fg-muted-3: rgba(255, 255, 255, 0.2);
		--fg-muted-4: rgba(255, 255, 255, 0.5);
		--fg-muted-5: rgba(255, 255, 255, 0.6);

		color-scheme: dark;
	}
}

body {
	background: var(--bg-color), var(--primary-color);
	color: var(--fg-color);
	line-height: 1.6;
	font-family: var(--font-system-ui), var(--font-emoji);
}

a {
	color: var(--primary-color);
	font-weight: bold;
}

a:hover {
	-webkit-text-decoration: underline wavy;
	text-decoration: underline wavy;
}

.profile-picture {
	box-shadow: var(--shadow);
	border-radius: 50%;
	max-width: 96px;
}

.status {
	margin-bottom: 0.5rem;
	box-shadow: var(--edge-highlight);
	border-radius: var(--rounded-corner);
	background-color: var(--primary-color-alpha);
	padding: 0.5rem;
}

.status-username {
	margin-bottom: 0.5rem;
	color: var(--fg-muted-5);
	font-size: 0.8rem;
}

.status-username a {
	font-size: 1rem;
}

.status-content {
	margin: 0;
	color: var(--primary-color);
	font-weight: bold;
}
