#to-do {
	display: flex;
	flex-direction: column;
	aspect-ratio: 1 / 1;

	div {
		--mask: linear-gradient(
			to bottom,
			transparent,
			black 1rem,
			black calc(100% - 1rem),
			transparent
		);
		-webkit-mask-image: var(--mask);
		flex: 1;
		mask-image: var(--mask);
		margin: 0 -1rem -1rem;
		padding: 1rem;
		padding-block-start: 0;
		overflow: auto;
	}

	ul {
		margin: 0;
		margin-block-start: 0.75rem;
		padding: 0;
		color: var(--fg-muted-2);
		font-size: var(--font-size-small);
		list-style: none;
	}
}
