#to-do {
	display: flex;
	flex-direction: column;
	padding-block-start: 0.75rem;
	aspect-ratio: 1 / 1;

	div {
		flex: 1;
		margin: 0 -1rem -1rem;
		padding: 1rem;
		padding-block-start: 0;
		overflow: auto;
	}

	ul {
		margin: 0;
		margin-block-start: 0.75rem;
		padding: 0;
		color: var(--fg-muted-2);
		font-size: var(--font-size-small);
		list-style: none;
	}
}
