{% extends "base.html" %}

{% block content %}

{%- if paginator.pages -%}
	{%- set number_of_posts = paginator.total_pages -%}
{%- elif section.pages -%}
	{%- set number_of_posts = section.pages | length -%}
{%- endif -%}

<div class="crt scanlines" aria-hidden="true">
<pre>
         *                 *                  *              *
                                                      *             *
                        *            *                             ___
  *               *                                          |     | |
        *              _________##                 *        / \    | |
                      @\\\\\\\\\##    *     |              |--o|===|-|
  *                  @@@\\\\\\\\##\       \|/|/            |---|   |d|
                    @@ @@\\\\\\\\\\\    \|\\|//|/     *   /     \  |w|
             *     @@@@@@@\\\\\\\\\\\    \|\|/|/         |  U    | |b|
                  @@@@@@@@@----------|    \\|//          |  S    |=| |
       __         @@ @@@ @@__________|     \|/           |  A    | | |
  ____|_@|_       @@@@@@@@@__________|     \|/           |_______| |_|
=|__ _____ |=     @@@@ .@@@__________|      |             |@| |@|  | |
____0_____0__\|/__@@@@__@@@__________|_\|/__|___\|/__\|/___________|_|_
</pre>
</div>

<h1>{{ section.title }}<a href="{{ current_url ~ 'atom.xml' }}"><i class="icon feed"></i></a></h1>

{{ section.content | safe }}

<p>
	<small>
		{%- if config.taxonomies | length > 0 -%}
			<a href="{{ get_url(path='tags') }}">Filter by tag</a>
			<br />
		{%- endif %}
		{{ number_of_posts }} post{{ number_of_posts | pluralize }} in total.
	</small>
</p>

{% include "partials/articles.html" %}

{%- if paginator.pages -%}
	<nav id="paginator">
		{%- if paginator.first != current_url -%}
			<a id="paginator-first" href="{{ paginator.first }}" title="First">
				<i class="icon"></i>
			</a>
		{% else %}
			<span id="paginator-first" title="First">
				<i class="icon"></i>
			</span>
		{%- endif -%}

		{%- if paginator.previous -%}
			<a id="paginator-previous" href="{{ paginator.previous }}" title="Previous">
				<i class="icon"></i>
			</a>
		{% else %}
			<span id="paginator-previous" title="Previous">
				<i class="icon"></i>
			</span>
		{%- endif -%}

		<span id="paginator-counter">{{ paginator.current_index }}/{{ paginator.number_pagers }}</span>

		{%- if paginator.next -%}
			<a id="paginator-next" href="{{ paginator.next }}" title="Next">
				<i class="icon"></i>
			</a>
		{%- else -%}
			<span id="paginator-next" title="Next">
				<i class="icon"></i>
			</span>
		{%- endif -%}

		{%- if paginator.last != current_url -%}
			<a id="paginator-last" href="{{ paginator.last }}" title="Last">
				<i class="icon"></i>
			</a>
		{% else %}
			<span id="paginator-last" title="Last">
				<i class="icon"></i>
			</span>
		{%- endif -%}
	</nav>
{%- endif -%}
{% endblock content %}
