{%- import "macros/rel_attributes.html" as macros_rel_attributes -%}
{%- set rel_attributes = macros_rel_attributes::rel_attributes() | trim -%}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ lang }}" {% include "partials/default_theme.html" %}>
{% include "partials/head.html" %}
<body>
{% block body %}
	<a id="skip-to-content" href="#main-content" tabindex="0">Skip to Main Content</a>
	{% include "partials/sidebar.html" %}
	<header id="site-header">
		<div id="site-header-title">
			<input class="visually-hidden" id="toggle-sidebar" type="checkbox" name="toggle-sidebar" autocomplete="off" />
			<label for="toggle-sidebar" title="Toggle Sidebar">
				<i class="ph-bold ph-list"></i>
				<i class="ph-bold ph-x"></i>
			</label>
			<a class="go-to-top" href="#top">
				{%- if current_path and current_path == "/" -%}
					{%- set suffix = "" -%}
				{% elif title %}
					{%- set suffix = title -%}
				{% elif section.title -%}
					{%- set suffix = section.title -%}
				{% elif page.title %}
					{%- set suffix = page.title -%}
				{% elif term.name %}
					{#- Individual tags -#}
					{%- set suffix = term.name -%}
				{% elif taxonomy.name %}
					{#- List of tags -#}
					{%- set suffix = taxonomy.name | capitalize -%}
				{% else %}
					{%- set suffix = "404" %}
				{%- endif -%}
		
				{{- suffix -}}
			</a>
		</div>

		<div id="site-header-buttons">
			{% block actions %}{% endblock post_actions %}

			{%- if page.backlinks -%}
				{%- set backlinks = page.backlinks -%}
			{%- elif section.backlinks -%}
				{%- set backlinks = section.backlinks -%}
			{%- endif -%}
			{%- if backlinks and backlinks | length > 0 -%}
				<details class="backlinks closable">
					<summary title="Backlinks"><i class="ph-bold ph-arrow-u-down-left"></i></summary>
					<div>
						<strong class="title">Backlinks</strong>
						<div>
							<ul>
								{%- for backlink in backlinks -%}
									<li>
										<a href="{{ backlink.permalink }}">{{ backlink.title }}</a>
									</li>
								{%- endfor -%}
							</ul>
						</div>
					</div>
				</details>
			{%- endif -%}

			{%- if page.toc -%}
				{%- set toc = page.toc -%}
			{%- elif section.toc -%}
				{%- set toc = section.toc -%}
			{%- endif -%}
			{%- if toc and toc | length > 0 -%}
				<details class="toc closable">
					<summary title="Table of Contents"><i class="ph-bold ph-list-bullets"></i></summary>
					<div>
						<strong class="title">Table of Contents</strong>
						<div>
							<ul>
								{%- for h1 in toc -%}
									<li>
										<a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
										{%- if h1.children -%}
											<ul>
												{%- for h2 in h1.children -%}
													<li>
														<a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
													</li>
												{%- endfor -%}
											</ul>
										{%- endif -%}
									</li>
								{%- endfor -%}
								{%- if page.extra.comments.id -%}
									<li>
										<a href="{{ current_url ~ '#comments' }}">Comments</a>
									</li>
								{%- endif -%}
							</ul>
						</div>
					</div>
				</details>
			{%- endif -%}
		</div>
	</header>
	<main id="main-content">
		{%- if page.extra.banner -%}
			{%- set blurnail = resize_image(path=page.colocated_path ~ page.extra.banner, width=4, height=2, op="fill", format="webp") -%}
			<style>
				:root {
					--blurnail: url('{{ blurnail.url | safe }}');
				}
			</style>
			<div id="banner">
				<img class="transparent no-hover" src="{{ blurnail.url }}" {% if config.markdown.lazy_async_image %}decoding="async" loading="lazy"{% endif %} />
				<img class="transparent no-hover{% if page.extra.banner_pixels %} pixels{% endif %}" src="{{ current_url ~ page.extra.banner }}" {% if config.markdown.lazy_async_image %}decoding="async" loading="lazy"{% endif %} />
			</div>
		{%- endif -%}
		<div class="container">
			{% block custom %}{% endblock custom %}
			{% block content %}{% endblock content %}
		</div>
	</main>
	{% include "partials/footer.html" %}
{% endblock body %}
</body>
</html>
