{% extends "duckquill/templates/base.html" %}

{% block body %}
<div id="calendar-header">
	<span id="month-number"></span>
	<div id="secondary-column">
		<span id="month-name"></span>
		<span id="year"></span>
	</div>
</div>

<div id=calendar></div>

<div id="calendar-footer">
	<div id="year-progress">
		<div id="progress-bar-wrapper">
			<div id="progress-bar"></div>
		</div>
	</div>
	<div id="column">
		<div id="column-left">
			<span id="progress-month"></span>
			<img id="logo" class="transparent no-hover" src="aperture-laboratories-logo.svg" />
		</div>

		<div id="chamber-icons">
			<input type="checkbox" id="cake" class="visually-hidden" name="cake" checked />
			<label for="cake"></label>
	
			<input type="checkbox" id="cube-dispenser" class="visually-hidden" name="cube-dispenser" checked />
			<label for="cube-dispenser"></label>
	
			<input type="checkbox" id="cube-hazard" class="visually-hidden" name="cube-hazard" checked />
			<label for="cube-hazard"></label>
	
			<input type="checkbox" id="dirty-water" class="visually-hidden" name="dirty-water" checked />
			<label for="dirty-water"></label>
	
			<input type="checkbox" id="fling-enter" class="visually-hidden" name="fling-enter" checked />
			<label for="fling-enter"></label>
	
			<input type="checkbox" id="fling-exit" class="visually-hidden" name="fling-exit" checked />
			<label for="fling-exit"></label>
	
			<input type="checkbox" id="pellet-catcher" class="visually-hidden" name="pellet-catcher" checked />
			<label for="pellet-catcher"></label>
	
			<input type="checkbox" id="pellet-hazard" class="visually-hidden" name="pellet-hazard" checked />
			<label for="pellet-hazard"></label>
	
			<input type="checkbox" id="turret-hazard" class="visually-hidden" name="turret-hazard" checked />
			<label for="turret-hazard"></label>
	
			<input type="checkbox" id="water-hazard" class="visually-hidden" name="water-hazard" checked />
			<label for="water-hazard"></label>
		</div>
	</div>
</div>
{% endblock body %}
