{% extends "duckquill/templates/base.html" %}

{% block content %}
<div id="coffee-container">
	<div id="avatar-container">
		<img id="avatar" class="no-hover" alt="Avatar." src="/assets/rainbow-grayscale.svg" />
	</div>
	<div id="coffee-banner-container">
		<span id="blobfox-message" class="drop-shadow">Hewwo~ 0w0</span>
		<img id="blobfox" class="transparent no-hover drop-shadow" alt="Neofox stretch down." src="neofox-stretch-down.png" />
		<img id="coffee-banner" class="no-hover" alt="Banner." src="banner.webp" />
	</div>
	<strong id="title">David Lapshin</strong>
	<p id="message">
		Like to support me and my work?
		You can do so by buying me a coffee!
		Use one of these options,
		and if you prefer some other option,
		feel free to
		<a href="https://daudix.one/find/#contacts">reach out</a>,
		maybe I do have it.
	</p>
	<input id="skeuo-switch" class="switch big" type="checkbox">
	<label for="skeuo-switch">Skeuomorph<i id="skeuo-info" class="icon" title="This silly mode warms my heart, but sometimes drives me crazy because I have to fix it every time I change the components it styles."></i></label>
	<div class="buttons" id="buttons">
		<a id="ko-fi" href="https://ko-fi.com/daudix">Ko-fi</a>
		<a id="liberapay" href="https://liberapay.com/daudix">Liberapay</a>
		<a id="monero" href="monero.txt">Monero</a>
		<a id="paypal" href="https://www.paypal.me/Daudix">PayPal</a>
	</div>
</div>
{% endblock content %}
