<!DOCTYPE html>
<html lang="en">
  {% include "includes/head.html" ignore missing -%}

  <body>
    {% include "includes/nav.html" ignore missing -%}
    <div class="container">
      <h1>Design Showcase</h1>
      <p>A sneak peek into my designs.</p>
      <br />
    </div>
    <section id="original-icons">
      <div class="container">
        <h1>Original Icons</h1>
        <p>
          Custom icons with original idea made for projects without prior ones
          or with different ones.
        </p>
        <br />
        <div class="media-grid">
          <a href="https://flathub.org/apps/io.github.Bavarder.Bavarder">
            <picture class="full">
              <img src="icons/io.github.Bavarder.Bavarder.svg" alt="Bavarder" />
            </picture>
            <small>Bavarder</small>
          </a>
          <a href="https://flathub.org/apps/org.nickvision.cavalier">
            <picture class="full">
              <img src="icons/org.nickvision.cavalier.svg" alt="Cavalier" />
            </picture>
            <small>Cavalier</small>
          </a>
          <a href="https://flathub.org/apps/de.schmidhuberj.Flare">
            <picture class="full">
              <img src="icons/de.schmidhuberj.Flare.svg" alt="Flare" />
            </picture>
            <small>Flare</small>
          </a>
          <a href="https://flathub.org/apps/io.github.tfuxu.Halftone">
            <picture class="full">
              <img src="icons/io.github.tfuxu.Halftone.svg" alt="Halftone" />
            </picture>
            <small>Halftone</small>
          </a>
          <a href="https://flathub.org/apps/page.codeberg.Imaginer.Imaginer">
            <picture class="full">
              <img
                src="icons/page.codeberg.Imaginer.Imaginer.svg"
                alt="Imaginer"
              />
            </picture>
            <small>Imaginer</small>
          </a>
          <a href="https://flathub.org/apps/ml.mdwalters.Lemonade">
            <picture class="full">
              <img src="icons/ml.mdwalters.Lemonade.svg" alt="Lemonade" />
            </picture>
            <small>Lemonade</small>
          </a>
          <a href="https://flathub.org/apps/de.schmidhuberj.tubefeeder">
            <picture class="full">
              <img src="icons/de.schmidhuberj.tubefeeder.svg" alt="Pipeline" />
            </picture>
            <small>Pipeline</small>
          </a>
          <a href="https://flathub.org/apps/de.schmidhuberj.DieBahn">
            <picture class="full">
              <img src="icons/de.schmidhuberj.DieBahn.svg" alt="Railway" />
            </picture>
            <small>Railway</small>
          </a>
          <a href="https://flathub.org/apps/org.nickvision.tagger">
            <picture class="full">
              <img src="icons/org.nickvision.tagger.svg" alt="Tagger" />
            </picture>
            <small>Tagger</small>
          </a>
        </div>
        <br />
      </div>
    </section>
    <section id="redrawn-icons">
      <div class="container">
        <h1>Redrawn Icons</h1>
        <p>
          Tweaked icons made for projects with icon and idea already present.
        </p>
        <br />
        <div class="media-grid">
          <a href="https://flathub.org/apps/com.github.neithern.g4music">
            <picture class="full">
              <img src="icons/com.github.neithern.g4music.svg" alt="G4Music" />
            </picture>
            <small>G4Music</small>
          </a>
          <a href="https://flathub.org/apps/com.github.GradienceTeam.Gradience">
            <picture class="full">
              <img
                src="icons/com.github.GradienceTeam.Gradience.svg"
                alt="Gradience"
              />
            </picture>
            <small>Gradience</small>
          </a>
          <a href="https://flathub.org/apps/com.github.marhkb.Pods">
            <picture class="full">
              <img src="icons/com.github.marhkb.Pods.svg" alt="Pods" />
            </picture>
            <small>Pods</small>
          </a>
          <a href="https://flathub.org/apps/codes.loers.Punchclock">
            <picture class="full">
              <img src="icons/codes.loers.Punchclock.svg" alt="Punchclock" />
            </picture>
            <small>Punchclock</small>
          </a>
          <a href="https://flathub.org/apps/com.github.ADBeveridge.Raider">
            <picture class="full">
              <img
                src="icons/com.github.ADBeveridge.Raider.svg"
                alt="File Shredder"
              />
            </picture>
            <small>File Shredder</small>
          </a>
          <a href="https://flathub.org/apps/com.vixalien.sticky">
            <picture class="full">
              <img src="icons/com.vixalien.sticky.svg" alt="Sticky Notes" />
            </picture>
            <small>Sticky Notes</small>
          </a>
        </div>
        <br />
      </div>
    </section>
    <section id="wallpapers">
      <div class="container">
        <h1>Wallpapers</h1>
        <p>Wallpapers that I have made for myself, that you can use too.</p>
        <br />
        <div class="media-grid">
          <a
            href="https://codeberg.org/daudix-UFO/Archive/src/branch/main/Wallpapers/Mesh/Amber"
          >
            <picture class="full">
              <source
                srcset="wallpapers/amber-dark.webp"
                media="(prefers-color-scheme: dark)"
              />
              <img src="wallpapers/amber.webp" alt="Amber" />
            </picture>
            <small>Amber</small>
          </a>
          <a
            href="https://codeberg.org/daudix-UFO/Archive/src/branch/main/Wallpapers/Crash"
          >
            <picture class="full">
              <source
                srcset="wallpapers/crash-dark.webp"
                media="(prefers-color-scheme: dark)"
              />
              <img src="wallpapers/crash.webp" alt="Crash" />
            </picture>
            <small>Crash</small>
          </a>
          <a
            href="https://codeberg.org/daudix-UFO/Archive/src/branch/main/Wallpapers/Finder"
          >
            <picture class="full">
              <source
                srcset="wallpapers/finder-dark.webp"
                media="(prefers-color-scheme: dark)"
              />
              <img src="wallpapers/finder.webp" alt="Finder" />
            </picture>
            <small>Finder</small>
          </a>
          <a
            href="https://codeberg.org/daudix-UFO/Archive/src/branch/main/Wallpapers/Mesh/Lava"
          >
            <picture class="full">
              <source
                srcset="wallpapers/lava-dark.webp"
                media="(prefers-color-scheme: dark)"
              />
              <img src="wallpapers/lava.webp" alt="Lava" />
            </picture>
            <small>Lava</small>
          </a>
          <a
            href="https://codeberg.org/daudix-UFO/Archive/src/branch/main/Wallpapers/Mesh/Waves"
          >
            <picture class="full">
              <source
                srcset="wallpapers/waves-dark.webp"
                media="(prefers-color-scheme: dark)"
              />
              <img src="wallpapers/waves.webp" alt="Waves" />
            </picture>
            <small>Waves</small>
          </a>
        </div>
        <br />
      </div>
    </section>
    <div class="container">{% block content %}{%- endblock -%}</div>
    {% include "includes/footer.html" ignore missing -%}
  </body>
</html>
