{% extends "base.html" %} {% block content %}

<h1>{{ page.title }}</h1>
<p>{{ page.description }} <small>(sorry for all the fancy stuff, I had to make this page a bit more exciting)</small></p>
<section id="original-icons">
	<div class="container">
		<h2>Original Icons</h2>
		<p>Custom icons with original idea made for projects without prior or with different one.</p>
		<br />
		<div class="media-grid">
			{% for icon in page.extra.original_icons %}
			<a href="{{ icon.url }}">
				<picture>
					<img
						class="no-hover full transparent drop-shadow"
						alt="{{ icon.name }}"
						decoding="async"
						loading="lazy"
						src="icons/{{ icon.icon }}"
					/>
				</picture>
				<small>{{ icon.name }}</small>
			</a>
			{% endfor %}
		</div>
		<br />
	</div>
</section>
<section id="redrawn-icons">
	<div class="container">
		<h2>Redrawn Icons</h2>
		<p>Tweaked icons made for projects with an icon and idea already present.</p>
		<br />
		<div class="media-grid">
			{% for icon in page.extra.redrawn_icons %}
			<a href="{{ icon.url }}">
				<picture>
					<img
						class="no-hover full transparent drop-shadow"
						alt="{{ icon.name }}"
						decoding="async"
						loading="lazy"
						src="icons/{{ icon.icon }}"
					/>
				</picture>
				<small>{{ icon.name }}</small>
			</a>
			{% endfor %}
		</div>
		<br />
	</div>
</section>
<section id="wallpapers">
	<div class="container">
		<h2>Wallpapers</h2>
		<p>Wallpapers that I have made for myself, that you can use, too.</p>
		<p>
			<small>It would be nice if you credit me in case you reupload or remix them :^)</small>
		</p>
		<br />
		<div class="media-grid">
			{% for wallpaper in page.extra.wallpapers %}
			<a href="{{ wallpaper.url }}">
				<picture>
					{% if wallpaper.wallpaper_dark %}
					<source
						srcset="wallpapers/{{ wallpaper.wallpaper_dark }}"
						media="(prefers-color-scheme: dark)"
					/>
					{% endif %}
					<img
						class="no-hover full"
						alt="{{ wallpaper.name }}"
						decoding="async"
						loading="lazy"
						src="wallpapers/{{ wallpaper.wallpaper }}"
					/>
				</picture>
				<small>{{ wallpaper.name }}</small>
			</a>
			{% endfor %}
		</div>
		<br />
	</div>
</section>
{%- endblock -%}
