{% extends "duckquill/templates/index.html" %}

{% block content %}
<h1>{{ config.title }}</h1>
<small>Passionate designer, translator, and FOSS contributor</small>

<br />
<br />
<div class="crt scanlines">
<pre>
<strong>daudix@macbook-pro-8-1 ~ </strong>
❯ date -I
{{ now() | date(format="%F") }}

<strong>daudix@macbook-pro-8-1 ~ </strong>
❯ cat ananas-duck.txt
========================================
                About Me
========================================

Hello there! My name is David, you
can call me by my nickname, (Daudix)
if you prefer.

I'm from the Siberian part of
Russia, but currently live in ▒▓░▒▓░.

I love photography, design, open source
and retro-futurism, my favorite games
are «Portal» series, «Untitled Goose»
and «The Stanley Parable».

Design is my hobby that I learn more
about every day.

I also have some minimal understanding
of how Blender works, occasionally do
some silly stuff in it.

And, as you can see, I try to do some
web development!

See <a href="{{ config.base_url }}/about">about page</a> for more info and
contacts.

<strong>daudix@macbook-pro-8-1 ~ </strong>
❯ <span class="cursor">█</span>
</pre>
</div>

{{ section.content | safe }}
{% endblock content %}
