{% extends "base.html" %}

{% block body %}
<main>
	<div id="top">
		<div>
			<img class="transparent no-hover" src="{{ get_url(path='graphics/4-by-3.svg') }}" alt="1024x768" />
			<span>1024x768</span>
		</div>
		<div>
			<img class="transparent no-hover" src="{{ get_url(path='graphics/no-js.svg') }}" alt="No Essential JavaScript" />
			<span>No Essential<br />JavaScript</span>
		</div>
		<div>
			<img class="transparent no-hover" src="{{ get_url(path='graphics/web-14.svg') }}" alt="14+" />
			<span>14+</span>
		</div>
		<div>
			<img class="transparent no-hover" src="{{ get_url(path='graphics/profanity.svg') }}" alt="Mild Profanity" />
			<span>Mild Profanity</span>
		</div>
	</div>
	<a id="header" href="{{ get_url(path='@/home/index.md') }}">daudix.one</a>
	<div id="bottom">
		<div>
			<strong>SITE DESCRIPTION:</strong>
			<ul>
				<li>Personal opinions</li>
				<li>Mediocore writing</li>
				<li>Wacky humor</li>
			</ul>
		</div>
		<img class="transparent no-hover" src="{{ get_url(path='graphics/warning.svg') }}" alt="Warning" />
	</div>
	<img id="barcode" class="transparent no-hover" src="{{ get_url(path='graphics/barcode.svg') }}" alt="Barcode" />
	<div id="rainbow"></div>
</main>
{% endblock body %}
