{% extends "base.html" %}

{% block content %}
{%- set date_locale = macros_translate::translate(key="date_locale", default="en_US", language_strings=language_strings) -%}
<h1>{{ section.title }}<a href="atom.xml"><i class="icon feed"></i></a></h1>

{{ section.description | markdown | safe }}

<ul id="notes">
    {%- for page in section.pages %}
        <li>
            <strong>{{ page.date | date(format="%d %B %Y, %R", locale=date_locale) }}</strong>
            <div>
                {{ page.content | markdown | safe }}
                <a href="{{ page.permalink | safe }}">View Post →</a>
            </div>
        </li>
    {%- endfor %}
</ul>

{% endblock content %}
