{% extends "base.html" %}

{% block content %}
{%- set date_locale = macros_translate::translate(key="date_locale", default="en_US", language_strings=language_strings) -%}
<div id="nanolog">
	{%- if page.lower -%}
		<a id="nanolog-higher" href="{{ page.lower.permalink }}">
			<span>{{ page.lower.date | date(format="%d %B %Y, %R", locale=date_locale) }}</span>
		</a>
	{%- endif -%}

	<h1>{{ page.date | date(format="%d %B %Y, %R", locale=date_locale) }}</h1>
	<p id="nanolog-title">
		<small>{{ page.title }}</small>
	</p>
	{{ page.content | safe }}

	{%- if page.higher -%}
		<a id="nanolog-lower" href="{{ page.higher.permalink }}">
			<span>{{ page.higher.date | date(format="%d %B %Y, %R", locale=date_locale) }}</span>
		</a>
	{%- endif -%}
</div>
{% endblock content %}
