{% extends "base.html" %}

{% block content %}
{%- set rel_attributes = macros_rel_attributes::rel_attributes() | trim -%}
<div id="nanolog">
	{%- if page.lower -%}
		<a id="nanolog-higher" href="{{ page.lower.permalink }}">
			<span>{{ page.lower.date | date(format=config.extra.date_format_long | default(value="%B %d, %Y, %R"), locale=config.extra.date_locale) | default(value="en_US") }}</span>
		</a>
	{%- endif -%}

	<div id="nanolog-heading">
		<h1>{{ page.date | date(format=config.extra.date_format_long | default(value="%B %d, %Y, %R"), locale=config.extra.date_locale) | default(value="en_US") }}</h1>
		<div id="nanolog-details">
			<p><small>{{ page.title }}</small></p>
			<div id="buttons-container">
				{%- if config.extra.show_backlinks and page.backlinks | length > 0 -%}
					<details id="backlinks" class="closable">
						<summary title="Backlinks"><i class="icon"></i></summary>
						<div>
							<strong class="title">Backlinks</strong>
							<div>
								<ul>
									{%- for backlink in page.backlinks -%}
										<li>
											<a href="{{ backlink.permalink }}">{{ backlink.title }}</a>
										</li>
									{%- endfor -%}
								</ul>
							</div>
						</div>
					</details>
				{%- endif -%}
				{%- if config.extra.show_share_button -%}
					<a id="share" href="https://shareopenly.org/share/?url={{ page.permalink }}&text={{ page.title | urlencode }}" rel="{{ rel_attributes }}" title="Share"><i class="icon"></i></a>
				{%- endif -%}
				{%- if config.extra.issues_url -%}
					<a id="issue" href="{{ config.extra.issues_url }}" rel="{{ rel_attributes }}" title="File an Issue"><i class="icon"></i></a>
				{%- endif -%}
			</div>
		</div>
	</div>
	{{ page.content | safe }}

	{%- if page.higher -%}
		<a id="nanolog-lower" href="{{ page.higher.permalink }}">
			<span>{{ page.higher.date | date(format=config.extra.date_format_long | default(value="%B %d, %Y, %R"), locale=config.extra.date_locale) | default(value="en_US") }}</span>
		</a>
	{%- endif -%}
</div>
{% endblock content %}
