{% extends "base.html" %}

{% block content %}

<div class="crt scanlines" aria-hidden="true">
<pre>
        _
       | ]
     .-|=====-.
     | | TAGS |   
     |________|___
          ||
          ||
          ||   www                %%%
   vwv    ||   )_(,;;;,        ,;,\_/ www
   )_(    ||   \|/ \_/         )_(\|  (_)
   \|   \ || /\\|/  |/         \| \|// | 
___\|//jgs||//_\V/_\|//_______\\|//V/\\|/__
</pre>
</div>

<h1>Posts with tag “{{ term.name }}”</h1>

<p>
	<small>
		<a href="{{ get_url(path='tags') }}">See all tags</a>
		<br />
		Posts in total: {{ term.pages | length }}
	</small>
</p>

{% include "partials/articles.html" %}
{% endblock content %}
